<div class="govuk-form-group" [class.govuk-form-group--error]="showError()">
  <label class="govuk-label" [attr.for]="id" [attr.id]="labelId">
    {{ label }}
  </label>
  <div *ngIf="hint" [attr.id]="hintId" class="govuk-hint">
    {{ hint }}
  </div>
  <ng-container *ngIf="showError()">
    <p
      *ngIf="validationErrorMessage"
      id="event-name-error"
      class="govuk-error-message"
      role="alert"
      [attr.aria-describedby]="labelId"
    >
      <span class="govuk-visually-hidden">Error:</span>
      {{ validationErrorMessage }}
    </p>
  </ng-container>

  <input
    class="govuk-input"
    [class.govuk-input--error]="showError()"
    [ngClass]="class"
    [formControl]="formControl"
    [attr.id]="id"
    [attr.name]="id"
    type="email"
    autocomplete="email"
    email
    [maxlength]="maxlength"
    [required]="hasRequiredField(formControl)"
    [readonly]="readonly"
    [attr.aria-invalid]="showError()"
    (copy)="isCopyDisabled($event)"
  />
</div>
