<div class="app-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m govuk-!-margin-bottom-7 guidance-title">
        UK Emissions Trading Registry guidance
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">
        Adding or removing accounts in the Trusted Account List (TAL)
      </h2>
      <span class="govuk-caption-l"
        >You can add or remove accounts in the Trusted Account List (TAL)</span
      >

      <app-guidance-modification-date></app-guidance-modification-date>

      <p class="govuk-body">Contents</p>

      <ul class="govuk-list">
        <li>
          -
          <a class="govuk-link" [routerLink]="[]" fragment="subsection1"
            >Adding or removing an account</a
          >
        </li>
      </ul>

      <h3 class="govuk-heading-s" id="subsection1">
        Adding or removing an account
      </h3>
      <p class="govuk-body">
        Accounts from the same Account Holder are automatically added to the
        trusted account list (TAL).
      </p>
      <p class="govuk-body">
        Once an account is opened, you can add accounts from different Account
        Holders to the TAL.
      </p>
      <p class="govuk-body">To add or remove an account in the TAL:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>select Accounts in the top menu</li>
        <li>
          in the account list, select the account that you want to set up a
          trust for
        </li>
        <li>select the Trusted Accounts menu item</li>
        <li>select Request Update</li>
        <li>select whether you want to add or remove an account</li>
        <li>enter the account number for the account you want to add to TAL</li>
      </ul>

      <p class="govuk-body">
        A different Authorised Representative will need to approve the request.
        Once the request is approved, the account will be added to the TAL
        within 4 working days.
      </p>
    </div>
  </div>
</div>

<app-back-to-top></app-back-to-top>
