<div class="govuk-grid-row govuk-!-margin-bottom-7">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">The proposed request has been approved</h1>
      <div class="govuk-panel__body">
        <div>The request ID is</div>
        <div>
          <strong>{{ taskCompleteResponse.requestIdentifier }}</strong>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <a
        routerLink="/task-list"
        class="govuk-link govuk-link--no-visited-state"
        id="back"
        >Go back to the task list</a
      >
    </p>
  </div>
</div>
