@import '_variables';

.govuk-body-m,
.govuk-body,
p,
.app-prose-scope p {
  color: govuk-colour('black');
  font-family: 'GDS Transport', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 15px;
}

@media print {
  .govuk-body-m,
  .govuk-body,
  p,
  .app-prose-scope p {
    color: govuk-colour('black');
  }
}

@media print {
  .govuk-body-m,
  .govuk-body,
  p,
  .app-prose-scope p {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .govuk-body-m,
  .govuk-body,
  p,
  .app-prose-scope p {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .govuk-body-m,
  .govuk-body,
  p,
  .app-prose-scope p {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  .govuk-body-m,
  .govuk-body,
  p,
  .app-prose-scope p {
    margin-bottom: 20px;
  }
}

.govuk-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}

.govuk-visually-hidden-focusable {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
}

.govuk-visually-hidden-focusable:active,
.govuk-visually-hidden-focusable:focus {
  position: static !important;
  width: auto !important;
  height: auto !important;
  margin: inherit !important;
  overflow: visible !important;
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  white-space: inherit !important;
}

@media (min-width: 48.0625em) {
  .hmcts-pagination {
    margin-left: -5px;
    margin-right: -5px;
    font-size: 0;
    text-align: justify;
  }
  .hmcts-pagination:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}

.hmcts-pagination__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 48.0625em) {
  .hmcts-pagination__list {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

@media (min-width: 48.0625em) {
  .hmcts-pagination__results {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.hmcts-pagination__item {
  font-family: 'GDS Transport', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: inline-block;
}

@media print {
  .hmcts-pagination__item {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .hmcts-pagination__item {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .hmcts-pagination__item {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.hmcts-pagination__item--active,
.hmcts-pagination__item--dots {
  font-weight: bold;
  height: 25px;
  padding: 5px 10px;
  text-align: center;
}

.hmcts-pagination__item--dots {
  padding-left: 0;
  padding-right: 0;
}

.hmcts-pagination__item--prev .hmcts-pagination__link:before,
.hmcts-pagination__item--prev .hmcts-pagination__link:after,
.hmcts-pagination__item--next .hmcts-pagination__link:before,
.hmcts-pagination__item--next .hmcts-pagination__link:after {
  background-image: url(/assets/images/icon-pagination.svg);
  background-repeat: no-repeat;
  background-size: 22px 36px;
  background-position: 0 0;
  display: inline-block;
  height: 18px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  width: 11px;
}

.hmcts-pagination__item--prev .hmcts-pagination__link:before {
  background-position: 0 0;
  content: '';
  margin-right: 10px;
}

.hmcts-pagination__item--next .hmcts-pagination__link:after {
  background-position: -11px -18px;
  content: '';
  margin-left: 10px;
}

.hmcts-pagination__link {
  display: block;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  min-width: 25px;
}

.hmcts-pagination__link:link,
.hmcts-pagination__link:visited {
  color: govuk-colour('blue');
}

.hmcts-pagination__link:hover {
  color: govuk-colour('dark-blue');
}

.hmcts-pagination__link:focus {
  color: govuk-colour('black');
}

.hmcts-pagination__results {
  padding: 5px;
}

a {
  cursor: pointer;
}
