<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form (submit)="onSubmit()" [formGroup]="formGroup">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">Upload AR access table</h1>
        </legend>
        <app-uk-select-file
          formControlName="bulkAr"
          [isInProgress]="isInProgress"
          [fileProgress]="fileProgress"
          [showErrors]="showErrors"
          [hint]="hint"
          [fileType]="allowedFileTypes"
          [isFileRequired]="true"
          [fileSize]="maxFileSize"
        >
        </app-uk-select-file>
      </fieldset>
      <div>
        <button
          class="govuk-button"
          data-module="govuk-button"
          type="submit"
          id="continue"
        >
          Continue
        </button>
      </div>
    </form>
  </div>
</div>
