<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        @if (updateType === 'UPDATE_OPERATOR') {
          <span class="govuk-caption-xl"
            >Request to update the
            {{ operatorTypeMap[(operator$ | async)?.type] }} information</span
          >
          Are you sure you want to update the operator details?
        } @else {
          <span class="govuk-caption-xl"
            >Request to update the account holder</span
          >
          Are you sure you want to update the account holder details?
        }
      </h1>
    </div>
    <hr class="govuk-section-break govuk-section-break--m" />
    <div class="govuk-form-group">
      <p class="govuk-body">
        These details are automatically updated with information from METS. You
        should only proceed with these changes if there is a mismatch between
        that system and the Registry, which cannot be corrected by METS.<br /><br />
        Any subsequent changes from METS will overwrite any of the details you
        have changed. <br /><br />
        You may wish to contact the relevant Regulator before proceeding.
      </p>
    </div>
    <button
      class="govuk-button"
      data-module="govuk-button"
      appDebounceClick
      (debounceClick)="onContinue()"
      id="submit"
    >
      Yes, continue
    </button>
    <app-cancel-request-link
      (goToCancelScreen)="onCancel()"
    ></app-cancel-request-link>
  </div>
</div>
