<div
  appScreenReaderPageAnnounce
  [pageTitle]="updateTypeGroupInfo.radioGroupHeading"
></div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form (ngSubmit)="onContinue()" [formGroup]="updateTypeFormGroup">
      <app-uk-radio-input
        controlName="updateType"
        [formRadioGroupInfo]="updateTypeGroupInfo"
        [validationErrorMessage]="this.validationErrorMessage.updateType"
      >
      </app-uk-radio-input>
      <button
        class="govuk-button"
        data-module="govuk-button"
        type="submit"
        id="continue"
      >
        Continue
      </button>
    </form>
  </div>
</div>
