<div class="app-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m govuk-!-margin-bottom-7 guidance-title">
        UK Emissions Trading Registry guidance
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Account Types</h2>
      <span class="govuk-caption-l">
        There are different account types within the UK Registry.
      </span>

      <app-guidance-modification-date></app-guidance-modification-date>

      <p class="govuk-body">Contents</p>

      <ul class="govuk-list">
        <li>
          -
          <a class="govuk-link" [routerLink]="[]" fragment="subsection1"
            >Compliance accounts for participants in the UK ETS</a
          >
        </li>
        <li>
          -
          <a class="govuk-link" [routerLink]="[]" fragment="subsection2"
            >Trading Account in the UK ETS Registry</a
          >
        </li>
        <li>
          -
          <a class="govuk-link" [routerLink]="[]" fragment="subsection3"
            >Person Holding Account in the UK KP Registry</a
          >
        </li>
        <li>
          -
          <a class="govuk-link" [routerLink]="[]" fragment="subsection4"
            >Charges and fees</a
          >
        </li>
      </ul>

      <h3 class="govuk-heading-s" id="subsection1">
        Compliance accounts for participants in the UK ETS
      </h3>

      <p class="govuk-body">
        Participants of the UK ETS that have been issued with a UK ETS permit or
        an emissions monitoring plan are required to hold an Operator Holding
        Account (OHA), or an Aircraft Operator Holding Account (AOHA)
        respectively.
      </p>

      <p class="govuk-body">
        These accounts are used for compliance but can also be used for holding
        and trading UK ETS allowances.
      </p>

      <p class="govuk-body">
        Compliance accounts can only hold UK ETS Allowances.
      </p>

      <p class="govuk-body">
        Your regulator will instruct the Registry Administrator to open an OHA
        for you once your permit has been issued, or an AOHA once your emissions
        monitoring plan has been issued. The Registry Administrator will then
        make contact with the Operators’ permit, or Aircraft Operators’
        emissions monitoring plan contact and ask you to appoint a Primary
        Contact, and nominate the Authorised Representatives that will be
        assigned to the account and specify their permissions.
      </p>

      <p class="govuk-body">
        The nominated Authorised Representatives will then need to create a
        Registry sign in to obtain their User ID.
      </p>

      <p class="govuk-body">
        The Primary Contact will be required to arrange for the following
        documents to be completed and returned to the Registry Administrator by
        email:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Letter of Authority</li>
        <li>Primary Contact Appointment and Declaration</li>
      </ul>

      <p class="govuk-body">
        The Registry Administrator will review these documents then submit a
        document upload request to each proposed Authorised Represented via the
        UK Registry.
      </p>

      <p class="govuk-body">
        If, once any requested documents have been uploaded and background
        checks have been carried out, the Registry Administrator considers you
        are fit and proper to participate in the UK Registry and approves your
        nominated Authorised Representatives, they will be validated in the
        Registry system and sent a UK Registry activation code.
      </p>

      <p class="govuk-body">
        Each Authorised Representative will then be required to log back into
        the system and enter the code. Once they have done this they will be
        enrolled and will have access to their compliance account.
      </p>

      <p class="govuk-body">
        The process to gain access to compliance accounts differs from the
        process described below. Please do not take any action until contacted
        by the Registry Administrator.
      </p>

      <h3 class="govuk-heading-s" id="subsection2">
        Trading Account in the UK ETS Registry
      </h3>

      <p class="govuk-body">
        Trading Accounts are voluntary accounts used for trading in UK ETS
        allowances in the UK ETS Registry.
      </p>

      <p class="govuk-body">
        Before you can start to make an application for a trading account, 2
        proposed Authorised Representatives must create a Registry sign in and
        obtain their User ID, as they will need this as part of the application
        process. If the nominated Authorised Representatives already have a new
        User ID for the UK Registry then they don’t need to create another sign
        in.
      </p>

      <p class="govuk-body">
        You will need to provide the following information during the account
        opening application:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          details of the Account Holder – for a corporate entity this includes
          the registration number, if available
        </li>
        <li>the name and work details of the Primary Contact</li>
        <li>
          the account details, including account name and the billing address
          for annual subsistence invoices
        </li>
        <li>
          User IDs of your nominated Authorised Representatives – at least 2
          must be added at application stage, otherwise you will not be able to
          complete the application process
        </li>
        <li>the permissions for each Authorised Representative</li>
      </ul>

      <p class="govuk-body">
        Once the application is submitted, the Registry Administrator will
        review the application and submit document upload requests to each
        proposed Authorised Represented via the UK Registry. These will be both
        personal and corporate entity documents.
      </p>

      <p class="govuk-body">
        If, once any requested documents have been uploaded and background
        checks have been carried out, the Registry Administrator considers you
        are fit and proper to participate in the UK Registry and approves your
        nominated Authorised Representatives, they will be validated in the UK
        Registry and sent a UK Registry activation code.
      </p>

      <p class="govuk-body">
        Each Authorised Representative will then be required to log back into
        the system and enter the code. Once they have done this they will be
        enrolled and will have access to the account.
      </p>

      <h3 class="govuk-heading-s" id="subsection3">
        Person Holding Account in the UK KP Registry
      </h3>

      <p class="govuk-body">
        Person Holding Accounts are voluntary accounts used for trading Kyoto
        Units in the UK KP Registry.
      </p>

      <p class="govuk-body">
        Before you can start to make an application for a person holding
        account, 2 proposed Authorised Representatives must create a Registry
        sign in and obtain their User ID, as they will need this as part of the
        application process. If the nominated Authorised Representatives already
        have a new User ID for the UK Registry then they don’t need to create
        another sign in.
      </p>

      <p class="govuk-body">
        You will need to provide the following information during the
        accountopening application:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          details of the Account Holder – for a corporate entity this includes
          the registration number, if available
        </li>
        <li>the name and work details of the Primary Contact</li>
        <li>
          the account details, including account name and the billing address
          for annual subsistence invoices
        </li>
        <li>
          User IDs of your nominated Authorised Representatives – at least 2
          must be added at application stage, otherwise you will not be able to
          complete the application process
        </li>
        <li>the permissions for each Authorised Representative</li>
      </ul>

      <p class="govuk-body">
        Once the application is submitted, the National Administrator will
        review the application and submit document upload requests to each
        proposed Authorised Represented via the UK Registry. These will be both
        personal and corporate entity documents.
      </p>

      <p class="govuk-body">
        If, once any requested documents have been uploaded and background
        checks have been carried out, the National Administrator considers you
        are fit and proper to participate in the UK Registry and approves your
        nominated Authorised Representatives, they will be validated in the UK
        Registry and sent a UK Registry activation code.
      </p>

      <p class="govuk-body">
        Each Authorised Representative will then be required to log back into
        the system and enter the code. Once they have done this they will be
        enrolled and will have access to the account.
      </p>

      <h3 class="govuk-heading-s" id="subsection4">Charges and fees</h3>

      <p class="govuk-body">
        When making an application to the Registry Administrator or National
        Administrator you must also pay any applicable fee. Your application
        will not be processed until this has been received.
      </p>
    </div>
  </div>
</div>

<app-back-to-top></app-back-to-top>
