<table class="govuk-table" aria-describedby="allocation summary table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Year</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">
        Entitlement
      </th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">
        Allocated
      </th>
      <th
        scope="col"
        class="
          govuk-table__header govuk-table__header--numeric
          cell-border-left
        "
      >
        Remaining to be allocated
      </th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">
        To be returned
      </th>
      <th scope="col" class="govuk-table__header cell-border-left">
        Withhold status
      </th>
      <th scope="col" class="govuk-table__header">Exclusion status</th>
      <th scope="col" class="govuk-table__header" aria-label="return allowances button" tabindex="-1"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr
      *ngFor="let annual of allocation.annuals"
      class="govuk-table__row annual-allocation"
    >
      <td class="govuk-table__cell annual-allocation">
        <strong>{{ annual.year }}</strong>
      </td>
      <td
        class="govuk-table__cell govuk-table__cell--numeric annual-allocation"
      >
        {{ annual.entitlement }}
      </td>
      <td
        class="govuk-table__cell govuk-table__cell--numeric annual-allocation"
      >
        {{ annual.allocated }}
      </td>
      <td
        class="
          govuk-table__cell govuk-table__cell--numeric
          annual-allocation
          cell-border-left
        "
      >
        <div
          class="remaining-col"
          [ngClass]="{
            'remaining-allocation under-allocated': annual.remaining > 0
          }"
        >
          {{ annual.remaining > 0 ? annual.remaining : 0 }}
        </div>
      </td>
      <td
        class="govuk-table__cell govuk-table__cell--numeric annual-allocation"
      >
        <div
          class="remaining-col"
          [ngClass]="{
            'remaining-allocation over-allocated': annual.remaining < 0
          }"
        >
          {{ annual.remaining < 0 ? -annual.remaining : 0 }}
        </div>
      </td>
      <td class="govuk-table__cell annual-allocation cell-border-left">
        {{
          annual.status !== allocationStatusAllowed
            ? allocationStatusLabels[annual.status]?.label
            : ''
        }}
      </td>
      <td class="govuk-table__cell annual-allocation">
        <ng-container *ngIf="annual.excluded">
          <app-govuk-tag [color]="'blue'"> EXCLUDED </app-govuk-tag>
        </ng-container>
      </td>
      <td class="govuk-table__cell annual-allocation">
        <button
          *ngIf="canRequestTransaction && annual.eligibleForReturn"
          class="govuk-button govuk-button--secondary annual-allocation"
          data-module="govuk-button"
          (click)="goToReturnExcessTransaction(annual)"
        >
          Return allowances
        </button>
      </td>
    </tr>
    <tr class="govuk-table__row total-allocation">
      <td class="govuk-table__cell">
        <strong>Total in phase</strong>
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        {{ allocation.totals.entitlement }}
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        {{ allocation.totals.allocated }}
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric cell-border-left">
        {{ getRemainingToBeAllocated(allocation.annuals) }}
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        {{ getRemainingToBeReturned(allocation.annuals) }}
      </td>
      <td class="govuk-table__cell cell-border-left"></td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell"></td>
    </tr>
  </tbody>
</table>
