<div class="govuk-form-group" [class.govuk-form-group--error]="showError()">
  <label class="govuk-label" [attr.for]="id" [attr.id]="labelId">
    {{ label }}
  </label>
  <span *ngIf="hint" [attr.id]="hintId" [ngClass]="hintClass">
    {{ hint }}
  </span>
  <ng-container *ngIf="validationErrorMessage">
    <span
      *ngIf="showError() && formControl.errors"
      id="event-name-error"
      class="govuk-error-message"
      role="alert"
      [attr.aria-describedby]="labelId"
    >
      <span class="govuk-visually-hidden">Error:</span>
      {{ validationErrorMessage }}
    </span>
  </ng-container>

  <select
    class="govuk-select"
    [class.govuk-select--error]="showError()"
    [ngClass]="class"
    [ngStyle]="style"
    [formControl]="formControl"
    [attr.id]="id"
    [attr.name]="id"
    [attr.disabled]="readonly ? '' : null"
    type="text"
    [required]="hasRequiredField(formControl)"
    [attr.aria-invalid]="formControl.dirty && formControl.invalid"
  >
    <option *ngIf="placeHolder" value="" disabled selected hidden>
      {{ placeHolder }}
    </option>
    <option
      *ngFor="let option of options"
      [ngValue]="option.value"
      [selected]="
        isFirstSelected || option.selected || formControl.value === option.value
      "
    >
      {{ option.label }}
    </option>
  </select>
</div>
