<div class="app-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m govuk-!-margin-bottom-7 guidance-title">
        UK Emissions Trading Registry guidance
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Registration status</h2>
      <span class="govuk-caption-l">
        After you create a UK Registry sign in you will have limited access to
        the UK Registry as a registered user. To gain access to your account in
        the UK ETS Registry or UK KP Registry you must go through validation to
        become an enrolled user.
      </span>

      <app-guidance-modification-date></app-guidance-modification-date>

      <p class="govuk-body">Contents</p>

      <ul class="govuk-list">
        <li>
          -
          <a class="govuk-link" [routerLink]="[]" fragment="subsection1"
            >Your registration status</a
          >
        </li>
        <li>
          -
          <a class="govuk-link" [routerLink]="[]" fragment="subsection2"
            >User ID</a
          >
        </li>
        <li>
          -
          <a class="govuk-link" [routerLink]="[]" fragment="subsection3"
            >Enrolled users</a
          >
        </li>
      </ul>

      <h3 class="govuk-heading-s" id="subsection1">Your registration status</h3>

      <p class="govuk-body">
        You can check your registration status in the My profile section
      </p>
      <img
        class="guidance-img"
        src="/assets/images/guidance/registration-details-registered.png"
        alt="Registration details for registered users"
      />

      <h3 class="govuk-heading-s" id="subsection2">User ID</h3>

      <div class="govuk-body">
        You can find your User ID in the My Profile section. This will also show
        your registration status.
      </div>

      <h3 class="govuk-heading-s" id="subsection3">Enrolled users</h3>
      <p class="govuk-body">
        After you successfully enter your Registry Activation Code (RAC) you
        will be automatically signed out of the UK Registry. When you next sign
        in you will have full access to the UK Registry functions available for
        your role and your user status will change to Enrolled.
      </p>
    </div>
  </div>
</div>

<app-back-to-top></app-back-to-top>
