<div appScreenReaderPageAnnounce [pageTitle]="headerTitle"></div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">{{ headerTitle }}</span>
    <form
      (ngSubmit)="onContinue()"
      [formGroup]="formGroup"
      [appConnectForm]="installation"
    >
      <div class="govuk-form-group">
        <div class="govuk-fieldset">
          <div class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              {{ title }}
            </h1>
          </div>
        </div>
      </div>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Installation to be transferred
          </h1>
        </legend>
        <app-form-control-type-ahead
          [label]="'Installation ID'"
          [url]="searchByIdRequestUrl"
          [params]="requestParams"
          searchKey="installationId"
          [resultTemplate]="operator"
          [inputFormatter]="operatorResultFormatter"
          [validationErrorMessage]="validationErrorMessage.identifier"
          controlName="identifier"
          (input)="onIdentifierInput($event)"
          [maxlength]="256"
          [isNumber]="true"
          (resultItem)="onSelectFromSearch($event)"
        ></app-form-control-type-ahead>
      </fieldset>

      @if (existingInstallationName) {
        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Installation name</dt>
            <dd class="govuk-summary-list__value">
              {{ existingInstallationName }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">EmitterID</dt>
            <dd class="govuk-summary-list__value">
              {{ existingEmitterId }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">PermitID</dt>
            <dd class="govuk-summary-list__value">
              {{ existingPermitId }}
            </dd>
          </div>
        </dl>
      }

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">New Installation details</h1>
        </legend>
        <app-form-control-text
          [label]="' Installation name'"
          [maxlength]="256"
          [validationErrorMessage]="validationErrorMessage.name"
          controlName="name"
        ></app-form-control-text>
        <app-form-control-text
          *ngIf="isSeniorOrJuniorAdmin"
          [label]="'Emitter ID'"
          [maxlength]="256"
          [validationErrorMessage]="validationErrorMessage.emitterId"
          controlName="emitter.emitterId"
        ></app-form-control-text>
        <app-form-control-text
          [label]="'Permit ID'"
          [maxlength]="256"
          [validationErrorMessage]="validationErrorMessage.id"
          controlName="permit.id"
        ></app-form-control-text>
      </fieldset>
      <button class="govuk-button" data-module="govuk-button" type="submit">
        Continue
      </button>
    </form>
  </div>
</div>

<ng-template #operator let-r="result" let-t="term">
  <ngb-highlight [result]="r.identifier" [term]="t"></ngb-highlight>
  <div>Name: {{ r.installationName }}</div>
  <div>Emitter ID: {{ r.emitterId }}</div>
  <div>Permit ID: {{ r.permitIdentifier }}</div>
  <hr class="govuk-section-break" />
</ng-template>
