<div
  appScreenReaderPageAnnounce
  [pageTitle]="'Request to close the account'"
></div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">Close account</span>
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
          Check the update and confirm
        </h1>
      </legend>
    </fieldset>
    <app-account-closure-warnings [label]="defaultWarningLabel">
    </app-account-closure-warnings>
    <app-account-closure-warnings
      *ngIf="accountDetails.complianceStatus === 'B'"
      [label]="surrenderDeficitLabel"
    >
    </app-account-closure-warnings>
    <app-account-closure-warnings
      *ngIf="allocationClassification === 'OVER_ALLOCATED'"
      [label]="overAllocatedLabel"
    >
    </app-account-closure-warnings>
    <app-account-closure-warnings
      *ngIf="allocationClassification === 'UNDER_ALLOCATED'"
      [label]="underAllocatedLabel"
    >
    </app-account-closure-warnings>
    <app-account-closure-warnings
      *ngIf="allocationClassification === 'NOT_YET_ALLOCATED'"
      [label]="unAllocatedLabel"
    >
    </app-account-closure-warnings>
    <app-account-closure-warnings *ngIf="noActiveAR" [label]="noARLinkedLabel">
    </app-account-closure-warnings>
    <app-account-closure-warnings
      *ngIf="pendingAllocationTaskExists"
      [label]="pendingAllocationTaskExistsLabel"
    >
    </app-account-closure-warnings>
    <app-account-details-summary
      [isWizardOrientedFlag]="true"
      [accountHeadingSummary]="accountHeadingSummaryList"
      [accountDetailsSummary]="accountDetailsSummaryList"
      [justificationCommentSummary]="justificationComment"
      [routePathForJustificationComment]="routePathForJustificationComment"
      (navigateToEmitter)="navigateTo($event)"
    >
    </app-account-details-summary>
    <button
      id="submit"
      class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-5"
      data-module="govuk-button"
      appDebounceClick
      (debounceClick)="onSubmit()"
    >
      Submit
    </button>
  </div>
</div>
