<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">New Primary Contact</h2>
    <div class="govuk-summary-list__actions">
      @if (showChangeLink()) {
        <a
          class="govuk-link govuk-link--no-visited-state"
          [routerLink]="[]"
          (click)="navigateToChangeForm()"
          (keypress)="navigateToChangeForm()"
        >
          Change<span class="govuk-visually-hidden"> contact details</span>
        </a>
      }
    </div>
  </div>
</dl>

<h2 class="govuk-heading-m">Primary Contact details</h2>
@if (accountHolderContact().details) {
  <dl
    class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-9"
  >
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">First and middle names</dt>
      <dd class="govuk-summary-list__value">
        {{ accountHolderContact().details?.firstName }}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Last name</dt>
      <dd class="govuk-summary-list__value">
        {{ accountHolderContact().details?.lastName }}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        I confirm that the Primary Contact is aged 18 or over
      </dt>
      <dd class="govuk-summary-list__value">Yes</dd>
    </div>
  </dl>
}

<h2 class="govuk-heading-m">Primary Contact work details</h2>
<dl
  class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-9"
>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Company position</dt>
    <dd class="govuk-summary-list__value">
      {{ accountHolderContact().positionInCompany }}
    </dd>
  </div>
  @if (accountHolderContact().address) {
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Address</dt>
      <dd class="govuk-summary-list__value">
        <app-shared-three-line-address
          [line1]="accountHolderContact().address.buildingAndStreet"
          [line2]="accountHolderContact().address.buildingAndStreet2"
          [line3]="accountHolderContact().address.buildingAndStreet3"
        />
        {{ accountHolderContact().address.townOrCity }}
        @if (accountHolderContact().address.stateOrProvince) {
          <br />{{ accountHolderContact().address.stateOrProvince }}
        }
        <br />
        {{ accountHolderContact().address.country | countryNameAsync | async }}
        <br />
        {{ accountHolderContact().address.postCode }}
      </dd>
    </div>
  }
  @if (accountHolderContact().phoneNumber?.phoneNumber1) {
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Phone number 1</dt>
      <dd class="govuk-summary-list__value">
        +{{ accountHolderContact().phoneNumber.countryCode1
        }}{{ accountHolderContact().phoneNumber.phoneNumber1 }}
      </dd>
    </div>
  }
  @if (accountHolderContact().phoneNumber?.phoneNumber2) {
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Phone number 2</dt>
      <dd class="govuk-summary-list__value">
        +{{ accountHolderContact().phoneNumber.countryCode2
        }}{{ accountHolderContact().phoneNumber.phoneNumber2 }}
      </dd>
    </div>
  }
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Email address</dt>
    <dd class="govuk-summary-list__value">
      {{ accountHolderContact().emailAddress?.emailAddress }}
    </dd>
  </div>
</dl>
