<ng-container *ngIf="accountAllocation$ | async as accountAllocation">
  @if (getAllocationTableType() === AllocationType.NAVAT) {
    @if (accountAllocation.standard?.annuals?.length > 0) {
      <h2 class="govuk-heading-m">
        {{ 'Allocation status under National Aviation Allocation Table' }}
      </h2>
      <app-allocation-warnings
        [natAllocation]="accountAllocation.standard"
        [nerAllocation]="accountAllocation.underNewEntrantsReserve"
        [lastYear]="lastYear$ | async"
        (openHistoryAndComments)="navToHistoryAndComments()"
      />
      <app-allocation-table
        [allocation]="accountAllocation.standard"
        [ariaDescription]="'allocation status'"
        [allocationType]="AllocationType.NAVAT"
        [canRequestTransaction]="canRequestUpdate"
      />
    } @else {
      <ng-container *ngTemplateOutlet="noAllocationEntriesFound" />
    }
  } @else {
    @if (
      accountAllocation.standard?.annuals?.length > 0 ||
      accountAllocation.underNewEntrantsReserve?.annuals?.length > 0
    ) {
      <app-allocation-warnings
        [natAllocation]="accountAllocation.standard"
        [nerAllocation]="accountAllocation.underNewEntrantsReserve"
        [lastYear]="lastYear$ | async"
        (openHistoryAndComments)="navToHistoryAndComments()"
      />
      <app-grouped-allocation-table
        [groupedAllocationOverview]="groupedAllocationOverview$ | async"
        [ariaDescription]="'allocation status'"
        [canRequestTransaction]="canRequestUpdate"
      />
    } @else {
      <ng-container *ngTemplateOutlet="noAllocationEntriesFound" />
    }
  }
</ng-container>

<ng-template #noAllocationEntriesFound>
  <div class="govuk-warning-text overallocated-warning">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">Warning</span>
      There are no Allocation entries to display.
    </strong>
  </div>
</ng-template>
