<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <div class="govuk-panel__body">
        You have successfully reset your password
      </div>
    </div>
    <p class="govuk-body">
      We have sent a confirmation email to {{ emailAddress }}
    </p>
    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">
      You can
      <a [routerLink]="['/dashboard']" class="govuk-link" id="sign-in"
        >sign in to the UK Emissions Registry</a
      >
      with your new password.
    </p>
    <app-back-to-top></app-back-to-top>
  </div>
</div>
