@import 'src/sass/include/variables';

.summary-list-change-notification {
  background-color: $yellow-highlight-bg-colour;
  border-color: $yellow-highlight-border-colour;
  border-left-style: solid;
  border-width: 5px;
  border-bottom: 1px solid govuk-colour('mid-grey');
  margin: -7px 20px -4px 0;
  padding: 7px;
  text-align: left;
  width: 100%;
}

@media (min-width: 40.0625em) {
  .govuk-summary-list-width-thirty__key {
    width: 30%;
  }
}

@media (min-width: 40.0625em) {
  .govuk-summary-list-width-thirty-five__value,
  .govuk-summary-list-width-thirty-five__value:last-child {
    width: 35%;
  }
}
