<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
      <span class="govuk-caption-l govuk-!-margin-top-4"
        >Update your recovery phone number</span
      >
      <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
        Update the recovery phone number
      </h1>

      <h2 class="govuk-heading-m">1. Enter the recovery phone number</h2>

      @if (state.workMobilePhoneNumber) {
        <div class="govuk-checkboxes govuk-!-margin-bottom-6">
          <div class="govuk-checkboxes__item">
            <input
              class="govuk-checkboxes__input"
              formControlName="isTheSameAsWorkMobile"
              name="same-phone-checkbox"
              id="same-phone-checkbox"
              type="checkbox"
            />
            <label
              class="govuk-label govuk-checkboxes__label"
              for="same-phone-checkbox"
            >
              My recovery phone number is the same as my work mobile number
            </label>
          </div>
        </div>
      }

      <app-uk-phone-select
        class="govuk-!-margin-bottom-6"
        [countryCodes]="countryCodes"
        [showErrors]="showErrors"
        [validationErrorMessages]="validationMessages.newRecoveryPhone"
        [mustBeMobileNumber]="true"
        formControlName="newRecoveryPhone"
        phoneNumberLabel="Mobile number"
      />

      <h2 class="govuk-heading-m govuk-!-margin-top-8">
        2. Enter the code shown in the authenticator app
      </h2>
      <app-form-control-text
        #otpCodeInput
        [class]="'govuk-input--width-10'"
        [validationErrorMessage]="validationErrorMessage.otpCode"
        [label]="'Enter the 6-digit code shown in the app'"
        controlName="otpCode"
        [autocomplete]="'off'"
      />

      <button
        data-prevent-double-click="true"
        class="govuk-button govuk-!-margin-top-4"
        data-module="govuk-button"
        type="submit"
      >
        Continue
      </button>
    </form>
  </div>
</div>
