<div class="app-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m govuk-!-margin-bottom-7 guidance-title">
        UK Emissions Trading Registry guidance
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Accessing the UK Registry</h2>
      <span class="govuk-caption-l">
        You must access the Registry using a desktop or laptop computer or a
        tablet. You will need access to a smartphone to use the FreeOTP
        Authenticator app that will allow you to securely sign in to the
        Registry.
      </span>

      <app-guidance-modification-date></app-guidance-modification-date>

      <p class="govuk-body">Contents</p>

      <h3 class="govuk-heading-s" id="subsection1">
        Using FreeOTP Authenticator
      </h3>

      <p class="govuk-body">
        The UK Registry uses the FreeOTP Authenticator app to generate single
        use two-factor authentication security codes that you will use to sign
        in and 'digitally sign' transactions within the UK Registry.
      </p>

      <p class="govuk-body">
        Full guidance can be found in the
        <a class="govuk-link" [routerLink]="'otp-authenticator'"
          >Registry FreeOTP Authenticator guide</a
        >.
      </p>
    </div>
  </div>
</div>

<app-back-to-top></app-back-to-top>
