<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div
      [class.govuk-form-group--error]="showErrors"
      [id]="'arselection-label'"
    >
      <form [formGroup]="formGroup" (submit)="onSubmit()">
        <fieldset class="govuk-fieldset" aria-describedby="ar-selection-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <span class="govuk-caption-xl">
              Request to update the authorised representatives
            </span>
            <h1 class="govuk-fieldset__heading">Replace representative</h1>
          </legend>
          <div class="govuk-grid-row govuk-!-margin-bottom-7">
            <div class="govuk-grid-column-two-thirds">
              <app-form-control-select
                controlName="selectCurrentAr"
                [options]="currentAuthorisedRepresentatives"
                [hint]="'Replace the following representative'"
                hintClass="govuk-heading-m"
                placeHolder="Select from list"
              ></app-form-control-select>
            </div>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <app-uk-select-authorised-representative
                formControlName="selectArOtherAccounts"
                [authorisedRepresentatives]="
                  authorisedRepresentativesOtherAccounts
                "
                [hint]="'with the one below'"
                hintClass="govuk-heading-m"
                [showErrors]="false"
              >
              </app-uk-select-authorised-representative>
            </div>
          </div>
        </fieldset>
        <button
          class="govuk-button"
          data-module="govuk-button"
          type="submit"
          id="continue"
        >
          Continue
        </button>
      </form>
    </div>
  </div>
</div>
