<hr
  class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8"
/>

<app-account-holder-short-overview
  [accountHolder]="fromAccountHolder()"
  [headingCaption]="map.CHANGING_FROM_HEADING"
  [warningMessage]="warningMessage()"
/>
<app-account-holder-long-overview
  [accountHolder]="toAccountHolder()"
  [headingCaption]="map.CHANGING_TO_HEADING"
/>

@if (showRequestDocumentsButton()) {
  <div class="govuk-button-group govuk-!-margin-bottom-7">
    <button
      class="govuk-button govuk-button--secondary"
      data-module="govuk-button"
      (click)="onRequestDocuments()"
      (keypress)="onRequestDocuments()"
    >
      Request documents
    </button>
  </div>
}

<app-account-holder-primary-contact-overview
  [accountHolderContact]="toAccountHolderContact()"
/>

@if (!isNil(accountHolderDelete())) {
  <app-delete-orphan-account-holder-overview
    [deleteAccountHolder]="accountHolderDelete()"
  />
}
