<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Reset your Registry authenticator app</h1>
    <p class="govuk-body">
      If you have lost or changed your device and can no longer access your
      authenticator app, we will e-mail you a link to reset it.
    </p>

    <button
      class="govuk-button"
      data-module="govuk-button"
      (click)="onContinue()"
      [disabled]="!cookiesAccepted"
      id="continue"
    >
      Continue
    </button>
  </div>
</div>
