<div class="app-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m govuk-!-margin-bottom-7 guidance-title">
        UK Emissions Trading Registry guidance
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">User roles</h2>
      <span class="govuk-caption-l"
        >There are different user roles within the UK Registry. A registry user
        may have a different role on each account they are associated
        with.</span
      >

      <app-guidance-modification-date></app-guidance-modification-date>

      <p class="govuk-body">Contents</p>

      <ul class="govuk-list">
        <li>
          -
          <a class="govuk-link" [routerLink]="[]" fragment="subsection1"
            >Registry Administrator and National Administrator</a
          >
        </li>
        <li>
          -
          <a class="govuk-link" [routerLink]="[]" fragment="subsection2"
            >Account Holder</a
          >
        </li>
        <li>
          -
          <a class="govuk-link" [routerLink]="[]" fragment="subsection3"
            >Primary Contact</a
          >
        </li>
        <li>
          -
          <a class="govuk-link" [routerLink]="[]" fragment="subsection4"
            >Alternative Primary Contact</a
          >
        </li>
        <li>
          -
          <a class="govuk-link" [routerLink]="[]" fragment="subsection5"
            >Authorised Representative</a
          >
        </li>
      </ul>

      <h3 class="govuk-heading-s" id="subsection1">
        Registry Administrator and National Administrator
      </h3>
      <p class="govuk-body">
        The UK ETS Registry is administered by the Environment Agency performing
        the functions of the Registry Administrator. The UK KP Registry is
        administered by the Environment Agency in its capacity as National
        Administrator.
      </p>

      <h2 class="govuk-heading-s" id="subsection2">Account Holder</h2>
      <p class="govuk-body">
        The Account Holder is the corporate entity (for example a company) or
        individual (for example a sole trader) that holds the account.
      </p>

      <h2 class="govuk-heading-s" id="subsection3">Primary Contact</h2>
      <p class="govuk-body">
        All Account Holders will be asked to appoint a Primary Contact. A
        Primary Contact must have the authority to sign on behalf of the Account
        Holder, for example a director or someone named in the scheme of
        delegation of a corporate Account Holder. The Primary Contact will be
        the first person contacted by the Registry Administrator or the National
        Administrator about the account. The Primary Contact does not have
        access to the UK Registry by default, unless the Account Holder
        nominates them as an Authorised Representative.
      </p>

      <h2 class="govuk-heading-s" id="subsection4">
        Alternative Primary Contact
      </h2>
      <p class="govuk-body">
        The Account Holder may also appoint an alternative Primary Contact. If
        the Primary Contact is unavailable, the Registry Administrator or
        National Administrator will contact the alternative Primary Contact. The
        alternative Primary Contact does not have access to the UK Registry by
        default, unless the Account Holder nominates them as an Authorised
        Representative.
      </p>

      <h2 class="govuk-heading-s" id="subsection5">
        Authorised Representative
      </h2>
      <p class="govuk-body">
        An Authorised Representative can act on behalf of the account holder, if
        they have permission to do so. Authorised Representatives can be given
        permission to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>initiate transactions</li>
        <li>approve transactions</li>
        <li>both initiate and approve transactions</li>
        <li>
          initiate and approve surrender and return of excess allocation
          transactions only
        </li>
        <li>have read only access</li>
      </ul>
    </div>
  </div>
</div>

<app-back-to-top></app-back-to-top>
