<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        You have successfully changed your password
      </h1>
      <div class="govuk-panel__body"></div>
    </div>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      We 've sent a confirmation email to {{ emailPasswordChange }}
    </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-m">What happens next</h1>
    <p class="govuk-body">
      You have been automatically signed out of the UK Registry.
      <br />
      You can now
      <a
        [routerLink]="'/dashboard'"
        class="govuk-link govuk-link--no-visited-state"
        id="sign-in"
        >sign in to the UK Emissions Trading Registry</a
      >
      with your new password.
    </p>
  </div>
</div>
