<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-3">
          {{ headingCaption() }}
        </h2>
      </div>
    </dl>

    @if (warningMessage()) {
      <div class="govuk-warning-text">
        <span aria-hidden="true" class="govuk-warning-text__icon">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          {{ warningMessage() }}
        </strong>
      </div>
    }

    <dl
      class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-9"
    >
      @if (individualDetails()) {
        <!-- Case of AccountHolderType.INDIVIDUAL -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">First and middle names</dt>
          <dd class="govuk-summary-list__value">
            {{ individualDetails() | individualFirstAndMiddleNames }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Last name</dt>
          <dd class="govuk-summary-list__value">
            {{ individualDetails().lastName }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Country of birth</dt>
          <dd class="govuk-summary-list__value">
            {{ individualDetails().countryOfBirth }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            I confirm that the account holder is aged 18 or over
          </dt>
          <dd class="govuk-summary-list__value">Yes</dd>
        </div>
      } @else if (organisationDetails()) {
        <!-- Case of AccountHolderType.ORGANISATION -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Name</dt>
          <dd class="govuk-summary-list__value">
            {{ organisationDetails().name }}
          </dd>
        </div>
        @if (organisationDetails().registrationNumber) {
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Registration number</dt>
            <dd class="govuk-summary-list__value">
              {{ organisationDetails().registrationNumber }}
            </dd>
          </div>
        }
        @if (organisationDetails().noRegistrationNumJustification) {
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reason for not providing a registration number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ organisationDetails().noRegistrationNumJustification }}
            </dd>
          </div>
        }
      } @else {
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Name</dt>
          <dd class="govuk-summary-list__value">
            {{ accountHolder().details.name }}
          </dd>
        </div>
      }

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Account Holder ID</dt>
        <dd class="govuk-summary-list__value">
          {{ accountHolder().id }}
        </dd>
      </div>
    </dl>
  </div>
</div>
