<div class="govuk-!-margin-bottom-2">
  <strong>Email</strong>
  <div>{{ contact.emailAddress }}</div>
</div>

<div class="govuk-!-margin-bottom-2">
  @if (contact.mobilePhoneNumber) {
    <strong>Mobile number</strong>
    <app-shared-phone-number
      [countryCode]="contact.mobileCountryCode"
      [phoneNumber]="contact.mobilePhoneNumber"
    />
  } @else if (contact.alternativePhoneNumber) {
    <strong>Alternative phone number</strong>
    <app-shared-phone-number
      [countryCode]="contact.alternativeCountryCode"
      [phoneNumber]="contact.alternativePhoneNumber"
    />
  }
</div>

@if (moreInfo) {
  @if (contact.mobilePhoneNumber && contact.alternativePhoneNumber) {
    <div class="govuk-!-margin-bottom-2">
      <strong>Alternative phone number</strong>
      <app-shared-phone-number
        [countryCode]="contact.alternativeCountryCode"
        [phoneNumber]="contact.alternativePhoneNumber"
      />
    </div>
  }
  @if (contact.noMobilePhoneNumberReason) {
    <div class="govuk-!-margin-bottom-2">
      <strong>Reason for not having a mobile number</strong>
      <div>{{ contact.noMobilePhoneNumberReason }}</div>
    </div>
  }
  <div class="govuk-!-margin-bottom-2">
    <strong>Address</strong>
    <app-shared-three-line-address
      [line1]="contact.line1"
      [line2]="contact.line2"
      [line3]="contact.line3"
    />
    <div *ngIf="contact.city">{{ contact.city }}</div>
    <div *ngIf="contact.country">
      {{ contact.country | countryNameAsync | async }}
    </div>
    <div *ngIf="contact.postCode">{{ contact.postCode }}</div>
  </div>
}

<div>
  <a
    [routerLink]="[]"
    (keypress)="moreInfo = !moreInfo"
    (click)="moreInfo = !moreInfo"
    class="govuk-link govuk-link--no-visited-state"
    [attr.aria-label]="
      moreInfo
        ? 'Show less information about ' + firstName + ' ' + lastName
        : 'Show more information about ' + firstName + ' ' + lastName
    "
    >{{ moreInfo ? 'less info' : 'more info'
    }}<span class="govuk-visually-hidden">
      about {{ firstName }} {{ lastName }}
    </span>
  </a>
</div>
