<form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Change password</h1>
      <h2 class="govuk-heading-m">1. Enter your new password</h2>
      <p class="govuk-body">You must create a strong and memorable password.</p>
      <p class="govuk-body">
        Your password should be {{ passwordMinChars }} or more characters. You
        can use a mix of letters, numbers or symbols, or a combination of three
        random words.
      </p>
      <div
        class="govuk-!-margin-bottom-4"
        [class.govuk-form-group--error]="showCurrentPasswordError()"
      >
        <label
          class="govuk-label"
          for="currentPassword"
          [attr.id]="'currentPassword-label'"
        >
          Current password
        </label>
        <ng-container *ngIf="showCurrentPasswordError()">
          <p
            *ngIf="showCurrentPasswordError()"
            id="event-name-error"
            class="govuk-error-message"
            role="alert"
            [attr.aria-describedby]="'currentPassword-label'"
          >
            <span class="govuk-visually-hidden">Error:</span>
            {{ validationErrorMessage.currentPassword }}
          </p>
        </ng-container>
        <input
          appPasswordReveal
          id="currentPassword"
          class="govuk-input govuk-!-width-three-quarters"
          type="password"
          formControlName="currentPassword"
          [class.govuk-input--error]="showCurrentPasswordError()"
          [attr.aria-invalid]="showCurrentPasswordError()"
        />
      </div>
      <app-shared-spinner
        [showSpinner]="showSpinner"
        [message]="'Checking password to continue...'"
      ></app-shared-spinner>
      <div *ngIf="!showSpinner">
        <app-uk-password-input
          formControlName="passwordsGroup"
          [passwordLabel]="passwordLabel"
          [confirmPasswordLabel]="newPasswordLabel"
          [validationErrorMessage]="validationErrorMessage.passwordsGroup"
          [parentFormGroupName]="'passwordsGroup'"
        >
        </app-uk-password-input>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        2. Enter the code shown in the authenticator app
      </h2>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <app-form-control-text
        [class]="'govuk-input--width-10'"
        [validationErrorMessage]="validationErrorMessage.otpCode"
        [hint]="'Enter the 6-digit code'"
        controlName="otpCode"
        [attr.id]="'otp-label'"
        [label]="'Enter the 6-digit code'"
        [showLabel]="false"
        [autocomplete]="'off'"
      ></app-form-control-text>
      <button
        data-prevent-double-click="true"
        class="govuk-button"
        data-module="govuk-button"
        type="Submit"
        id="continue"
      >
        Continue
      </button>
    </div>
  </div>
</form>
