<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <h2 class="govuk-summary-list__key">New Account Holder</h2>
    <div class="govuk-summary-list__actions">
      <a
        *ngIf="!accountHolderExisting.valueOf()"
        class="govuk-link govuk-link--no-visited-state"
        [routerLink]="[]"
        (click)="navigateToAccountHolderDetails()"
        (keypress)="navigateToAccountHolderDetails()"
      >
        Change<span class="govuk-visually-hidden"> account holder details</span>
      </a>
    </div>
  </div>
</dl>

<ng-container
  *ngIf="accountHolder && accountHolder.type === accountHolderTypes.INDIVIDUAL"
>
  <dl
    class="govuk-summary-list"
    [class.govuk-summary-list--no-border]="accountHolderCompleted"
  >
    <div class="govuk-summary-list__row">
      <h2 class="govuk-summary-list__key">Individual's details</h2>
    </div>
  </dl>
  <dl
    class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-9"
    *ngIf="accountHolder.details"
  >
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">First and middle names</dt>
      <dd class="govuk-summary-list__value">
        {{
          (accountHolder | individual).details | individualFirstAndMiddleNames
        }}
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Last name</dt>
      <dd class="govuk-summary-list__value">
        {{ (accountHolder | individual).details.lastName }}
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Country of birth</dt>
      <dd class="govuk-summary-list__value">
        {{ (accountHolder | individual).details.countryOfBirth }}
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        I confirm that the account holder is aged 18 or over
      </dt>
      <dd class="govuk-summary-list__value">Yes</dd>
    </div>
  </dl>

  <dl
    class="govuk-summary-list"
    [class.govuk-summary-list--no-border]="accountHolderCompleted"
  >
    <div class="govuk-summary-list__row">
      <h2 class="govuk-summary-list__key">Individual's contact details</h2>
    </div>
  </dl>
  <dl
    class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-9"
    *ngIf="accountHolder.address"
  >
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Address</dt>
      <dd class="govuk-summary-list__value">
        <app-shared-three-line-address
          [line1]="(accountHolder | individual).address.buildingAndStreet"
          [line2]="(accountHolder | individual).address.buildingAndStreet2"
          [line3]="(accountHolder | individual).address.buildingAndStreet3"
        ></app-shared-three-line-address>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Town or city</dt>
      <dd class="govuk-summary-list__value">
        <ng-container *ngIf="(accountHolder | individual).address.townOrCity">
          {{ (accountHolder | individual).address.townOrCity }}</ng-container
        >
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">State or Province</dt>
      <dd class="govuk-summary-list__value">
        <ng-container
          *ngIf="(accountHolder | individual).address.stateOrProvince"
        >
          {{
            (accountHolder | individual).address.stateOrProvince
          }}</ng-container
        >
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Postal Code or ZIP</dt>
      <dd class="govuk-summary-list__value">
        <ng-container *ngIf="(accountHolder | individual).address.postCode">
          {{ (accountHolder | individual).address.postCode }}</ng-container
        >
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Country</dt>
      <dd class="govuk-summary-list__value">
        <ng-container *ngIf="(accountHolder | individual).address.country">
          {{ (accountHolder | individual).address.country }}
        </ng-container>
      </dd>
    </div>
    <div
      class="govuk-summary-list__row"
      *ngIf="(accountHolder | individual).phoneNumber?.phoneNumber1"
    >
      <dt class="govuk-summary-list__key">Phone number 1</dt>
      <dd class="govuk-summary-list__value">
        +{{ (accountHolder | individual).phoneNumber.countryCode1
        }}{{ (accountHolder | individual).phoneNumber.phoneNumber1 }}
      </dd>
    </div>
    <div
      class="govuk-summary-list__row"
      *ngIf="(accountHolder | individual).phoneNumber?.phoneNumber2"
    >
      <dt class="govuk-summary-list__key">Phone number 2</dt>
      <dd class="govuk-summary-list__value">
        +{{ (accountHolder | individual).phoneNumber.countryCode2
        }}{{ (accountHolder | individual).phoneNumber.phoneNumber2 }}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Email address</dt>
      <dd class="govuk-summary-list__value">
        {{ (accountHolder | individual).emailAddress?.emailAddress }}
      </dd>
    </div>
  </dl>
</ng-container>

<ng-container
  *ngIf="
    accountHolder && accountHolder.type === accountHolderTypes.ORGANISATION
  "
>
  <dl
    class="govuk-summary-list"
    [class.govuk-summary-list--no-border]="accountHolderCompleted"
  >
    <div class="govuk-summary-list__row">
      <h2 class="govuk-summary-list__key">Organisation details</h2>
    </div>
  </dl>
  <dl
    class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-9"
    *ngIf="accountHolder.details"
  >
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Name</dt>
      <dd class="govuk-summary-list__value">
        {{ accountHolder.details.name }}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Registration number</dt>
      <dd
        class="govuk-summary-list__value"
        *ngIf="(accountHolder | organisation).details.registrationNumber"
      >
        {{ (accountHolder | organisation).details.registrationNumber }}
      </dd>
      <dd
        class="govuk-summary-list__value"
        *ngIf="
          (accountHolder | organisation).details.noRegistrationNumJustification
        "
      >
        No registration number <br />
        {{
          (accountHolder | organisation).details.noRegistrationNumJustification
        }}
      </dd>
    </div>
  </dl>

  <dl
    class="govuk-summary-list"
    [class.govuk-summary-list--no-border]="accountHolderCompleted"
  >
    <div class="govuk-summary-list__row">
      <h2 class="govuk-summary-list__key">Organisation address</h2>
    </div>
  </dl>
  <dl
    class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-9"
    *ngIf="accountHolder.address"
  >
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Organisation address</dt>
      <dd class="govuk-summary-list__value">
        <app-shared-three-line-address
          [line1]="(accountHolder | organisation).address.buildingAndStreet"
          [line2]="(accountHolder | organisation).address.buildingAndStreet2"
          [line3]="(accountHolder | organisation).address.buildingAndStreet3"
        ></app-shared-three-line-address>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Town or city</dt>
      <dd class="govuk-summary-list__value">
        <ng-container *ngIf="(accountHolder | organisation).address.townOrCity">
          {{ (accountHolder | organisation).address.townOrCity }}</ng-container
        >
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">State or Province</dt>
      <dd class="govuk-summary-list__value">
        <ng-container
          *ngIf="(accountHolder | organisation).address.stateOrProvince"
        >
          {{
            (accountHolder | organisation).address.stateOrProvince
          }}</ng-container
        >
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Postal Code or ZIP</dt>
      <dd class="govuk-summary-list__value">
        <ng-container *ngIf="(accountHolder | organisation).address.postCode">
          {{ (accountHolder | organisation).address.postCode }}</ng-container
        >
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Country</dt>
      <dd class="govuk-summary-list__value">
        <ng-container *ngIf="(accountHolder | organisation).address.country">
          {{ (accountHolder | organisation).address.country }}
        </ng-container>
      </dd>
    </div>
  </dl>
</ng-container>
