@import 'src/sass/include/variables';

.separator {
  height: 1px;
  background-color: govuk-colour('light-grey');
  margin-left: 55px;
}

.govuk-subtitle {
  padding-left: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.3em;
}

.info {
  border-left: 10px solid govuk-colour('mid-grey');
  padding: 20px;
  margin-bottom: 20px;
}

.opacity-40 {
  opacity: 40%;
}

.govuk-radios__item {
  padding-bottom: 1px;
}

@include govuk-media-query($from: tablet) {
  .govuk-fieldset__legend + .govuk-hint {
    margin-top: govuk-spacing(-3);
  }
}
