@import '_variables';

.focused-text {
  background-color: $yellow-highlight-bg-colour;
  border-left-color: $yellow-highlight-border-colour;
  border-left-width: 5px;
  border-left-style: solid;
  padding: 7px;
}
