<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-fieldset govuk-!-margin-bottom-8">
      <div class="govuk-form-group">
        <div class="govuk-fieldset">
          <div class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-xl">{{ caption }}</span>
              {{ header }}
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div
      class="govuk-body govuk-!-margin-bottom-8"
      *ngIf="isContactBasedUpdate"
    >
      <h2 class="govuk-heading-m">Account holder details</h2>
      <hr
        class="
          govuk-section-break
          govuk-section-break--m
          govuk-section-break--visible
          govuk-!-margin-bottom-2
        "
      />
      <app-summary-list
        [class]="'govuk-summary-list govuk-summary-list--no-border'"
        [summaryListItems]="getSummaryListItems()"
      ></app-summary-list>
    </div>

    <div class="govuk-body govuk-!-margin-bottom-8">
      <h2 class="govuk-heading-m">Type of update</h2>
      <hr
        class="
          govuk-section-break
          govuk-section-break--m
          govuk-section-break--visible
          govuk-!-margin-bottom-2
        "
      />
      <p class="govuk-body-m">{{ this.updateType | ahUpdateType }}</p>
    </div>
    <app-account-holder-summary-changes
      [currentValues]="this.currentValues"
      [changedValues]="this.changedValues"
      [isWizardOrientedFlag]="true"
      [showOnlyCurrentValues]="
        updateType === deleteAlternativePrimaryContactType ||
        updateType === addAlternativePrimaryContactType
      "
      [showBorderLine]="
        updateType !== deleteAlternativePrimaryContactType &&
        updateType !== addAlternativePrimaryContactType
      "
      [contactType]="contactType"
      [isContactBasedUpdate]="isContactBasedUpdate"
      [showRemoveAPCMessage]="
        updateType === deleteAlternativePrimaryContactType
      "
      [routePathForSelectType]="routePathForSelectType"
      [routePathForDetails]="routePathForDetails"
      [routePathForAddress]="routePathForAddress"
      [countries]="countries"
      (navigateToEmitter)="navigateTo($event)"
    >
    </app-account-holder-summary-changes>
    <button
      class="govuk-button"
      data-module="govuk-button"
      appDebounceClick
      (debounceClick)="onSubmit()"
      id="continue"
    >
      Continue
    </button>
  </div>
</div>
