<ng-container
  *ngFor="
    let warningMessage of userDeactivationTaskDetails.changed.warningMessages
  "
>
  <div class="govuk-warning-text">
    <span aria-hidden="true" class="govuk-warning-text__icon">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      {{ warningMessage }}
    </strong>
  </div>
</ng-container>
<hr
  class="
    govuk-section-break govuk-section-break--m govuk-section-break--visible
    govuk-!-margin-bottom-9
  "
/>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <dl
        class="
          govuk-summary-list govuk-summary-list--no-border
          govuk-!-margin-bottom-0
        "
      >
        <dt class="govuk-summary-list__key govuk-body">
          <span class="govuk-heading-m">User details</span>
        </dt>
      </dl>
      <app-user-deactivation-summary
        [countries]="countries$ | async"
        [comment]="userDeactivationTaskDetails.changed.deactivationComment"
        [isWizardOrientedFlag]="false"
        [userDetails]="userDeactivationTaskDetails.changed.userDetails"
        [enrolmentKeyDetails]="
          userDeactivationTaskDetails.changed.enrolmentKeyDetails
        "
      >
      </app-user-deactivation-summary>
    </div>
  </div>
</div>
