<div class="govuk-grid-row govuk-!-margin-bottom-7">
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      KP units issuance proposal submitted
    </h1>
    <div class="govuk-panel__body">
      Transaction ID:<br /><strong>{{
        businessCheckResult?.transactionIdentifier
      }}</strong>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <h1 class="govuk-heading-m">What happens next</h1>
  <p class="govuk-body">
    The 4 eyes principle applies - the transaction must first be approved by
    another user.
  </p>
</div>
