<div
  appScreenReaderPageAnnounce
  [pageTitle]="formRadioGroupInfo.radioGroupHeading"
></div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form
      [formGroup]="formGroup"
      [appConnectForm]="accountHolderDelete()"
      (ngSubmit)="onContinue()"
    >
      <app-uk-radio-input
        controlName="accountHolderDelete"
        [formRadioGroupInfo]="formRadioGroupInfo"
        [validationErrorMessage]="validationErrorMessage.accountHolderDelete"
      />
      <button
        class="govuk-button"
        data-module="govuk-button"
        type="submit"
        id="continue"
      >
        Continue
      </button>
    </form>
  </div>
</div>
