<div class="app-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m govuk-!-margin-bottom-7 guidance-title">
        UK Emissions Trading Registry guidance
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Authorised Representatives</h2>
      <span class="govuk-caption-l">
        Authorised Representatives are individuals added to an account who can
        act on behalf of the account holder.
      </span>

      <app-guidance-modification-date></app-guidance-modification-date>

      <p class="govuk-body">Contents</p>

      <ul class="govuk-list">
        <li>
          -
          <a class="govuk-link" [routerLink]="[]" fragment="subsection1"
            >Adding Authorised Representatives</a
          >
        </li>
        <li>
          -
          <a class="govuk-link" [routerLink]="[]" fragment="subsection2"
            >Adding an additional Authorised Representative to an existing
            account</a
          >
        </li>
        <li>
          -
          <a class="govuk-link" [routerLink]="[]" fragment="subsection3"
            >Authorised Representatives on Operator Holding Accounts and
            Aircraft Operator Holding Accounts</a
          >
        </li>
      </ul>

      <h3 class="govuk-heading-s" id="subsection1">
        Adding Authorised Representatives
      </h3>

      <p class="govuk-body">
        A UK ETS Trading Account or UK KP Person Holding Account must have at
        least 2 Authorised Representatives added to the account at the
        application stage:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          one Authorised Representative with permission to initiate, or initiate
          and approve transactions
        </li>
        <li>
          a different Authorised Representative with permission to approve, or
          initiate and approve transactions
        </li>
      </ul>

      <p class="govuk-body">
        You can add up to 8 Authorised Representatives on an account.
      </p>

      <h3 class="govuk-heading-s" id="subsection2">
        Adding an additional Authorised Representative to an existing account
      </h3>

      <ol class="govuk-list govuk-list--number">
        <li>Create a UK Registry sign in to obtain a User ID</li>
        <li>
          Provide your User ID to an existing Authorised Representative with
          access to the account
        </li>
        <li>
          The Registry Administrator or National Administrator will request
          documents via the UK Registry - you will receive an email
        </li>
        <li>You upload documents as requested</li>
        <li>
          The Registry Administrator or National Administrator will review the
          documentation, and if fit and proper you will become ‘Validated’
        </li>
        <li>You will be sent a Registry Activation Code (RAC) by email</li>
        <li>
          Log in to the UK Registry and enter the RAC to become ‘Enrolled’
        </li>
      </ol>

      <h3 class="govuk-heading-s" id="subsection3">
        Authorised Representatives on Operator Holding Accounts and Aircraft
        Operator Holding Accounts
      </h3>

      <p class="govuk-body">
        Once you are enrolled on the Registry, a Registry Administrator will
        contact you to assign you as an Authorised Representative on the
        relevant account for your organisation.
      </p>
      <p class="govuk-body">
        You will be asked to upload supporting documentation to the Registry to
        verify your identity and complete the approval process.
      </p>
      <p class="govuk-body">
        You’ll receive an email specifying the documents to be uploaded. The
        subject of the email is ‘Notification of documentation request - UK
        Emissions Trading Registry’.
      </p>
    </div>
  </div>
</div>

<app-back-to-top></app-back-to-top>
