<div class="govuk-form-group" [class.govuk-form-group--error]="showError()">
  <label
    class="govuk-label"
    [class.govuk-visually-hidden]="!showLabel"
    [attr.for]="id"
    [attr.id]="labelId"
  >
    {{ label }}
  </label>
  <div *ngIf="hint" [attr.id]="hintId" class="govuk-hint">
    {{ hint }}
  </div>
  <p
    *ngIf="showError()"
    class="govuk-error-message"
    role="alert"
    [attr.aria-describedby]="labelId"
  >
    <span class="govuk-visually-hidden">Error:</span>
    {{ validationErrorMessage }}
  </p>
  <textarea
    class="govuk-textarea"
    [class.govuk-input--error]="showError()"
    [ngClass]="class"
    [formControl]="formControl"
    [attr.id]="id"
    [attr.name]="id"
    type="text"
    [maxlength]="maxlength"
    [required]="hasRequiredField(formControl)"
    [readonly]="readonly"
    [attr.aria-invalid]="showError()"
    [rows]="rows"
  ></textarea>
</div>
