<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" aria-live="polite">
    <span class="govuk-caption-xl">Add note</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-20">Add notes</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
      <app-uk-rich-text-editor
        [label]="'Notes'"
        [labelTitleBold]="true"
        [showFormattingButtons]="true"
        [maxlength]="256"
        controlName="noteDescription"
        [validationErrorMessage]="validationErrorMessage.noteDescription"
      ></app-uk-rich-text-editor>
      <button
        class="govuk-button"
        data-module="govuk-button"
        type="submit"
        id="continue"
      >
        Continue
      </button>
      <div>
        <a
          [routerLink]="[]"
          class="govuk-link govuk-link--no-visited-state"
          (click)="onCancel()"
          >Cancel</a
        >
      </div>
    </form>
  </div>
</div>
