<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl">Change the account status</span>
  Check your update and confirm
</h1>
<div class="govuk-warning-text" *ngIf="accountStatusActionSnapshot?.message">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    {{ accountStatusActionSnapshot?.message }}
  </strong>
</div>
<form (ngSubmit)="onContinue()" [formGroup]="formGroup">
  <dl class="govuk-summary-list govuk-summary-list--no-border">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Current account status</dt>
      <dd class="govuk-summary-list__value">
        {{ accountStatusMap[currentAccountStatus].label }}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Action</dt>
      <dd class="govuk-summary-list__value">
        {{ accountStatusActionSnapshot?.label }}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">New account status</dt>
      <dd class="govuk-summary-list__value">
        <span class="panel-change-notification">
          {{ accountStatusMap[accountStatusActionSnapshot?.newStatus].label }}
        </span>
      </dd>
    </div>
  </dl>
  <app-form-comment-area
    controlName="comment"
    [label]="'Enter some comments'"
    [hint]="''"
    [validationErrorMessage]="validationErrorMessage.comment"
  ></app-form-comment-area>
  <button
    data-prevent-double-click="true"
    class="govuk-button submit-form"
    data-module="govuk-button"
    type="submit"
    id="submit"
  >
    Apply
  </button>
  <div>
    <a
      [routerLink]="[]"
      class="govuk-link govuk-link--no-visited-state"
      (click)="onCancel()"
      (keyup)="(onCancel)"
      >Cancel</a
    >
  </div>
</form>
