<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
      <h2 class="govuk-heading-l">Reset your password</h2>

      <ol class="govuk-list govuk-list--number">
        <li class="govuk-!-font-weight-bold">
          Enter your new password

          <p class="govuk-body" *ngIf="!showSpinner">
            You must create a strong and memorable password.
          </p>
          <p class="govuk-body" *ngIf="!showSpinner">
            Your password should be {{ passwordMinChars }} or more characters.
            You can use a mix of letters, numbers or symbols, or a combination
            of three random words.
          </p>

          <app-shared-spinner
            [showSpinner]="showSpinner"
            [message]="'Checking password to continue...'"
          ></app-shared-spinner>
          <div *ngIf="!showSpinner">
            <app-uk-password-input
              formControlName="passwordsGroup"
              [passwordLabel]="passwordLabel"
              [confirmPasswordLabel]="newPasswordLabel"
              [validationErrorMessage]="validationErrorMessage.passwordsGroup"
              [parentFormGroupName]="'passwordsGroup'"
            >
            </app-uk-password-input>
          </div>
        </li>
        <li class="govuk-!-font-weight-bold" id="otp-label">
          Enter the code shown in the authenticator app
          <app-form-control-text
            controlName="otp"
            [validationErrorMessage]="validationErrorMessage.otp"
            [maxlength]="6"
            [hint]="'Enter the 6-digit code'"
            [label]="'Enter the 6-digit code'"
            [showLabel]="false"
            [autocomplete]="'off'"
            class="govuk-input--width-10"
          ></app-form-control-text>
        </li>
      </ol>

      <button
        data-prevent-double-click="true"
        class="govuk-button"
        data-module="govuk-button"
        type="Submit"
        id="continue"
      >
        Continue
      </button>
    </form>
  </div>
</div>
