<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-3">
          Account holder deletion
        </h2>
        <div class="govuk-summary-list__actions">
          @if (showChangeLink()) {
            <a
              class="govuk-link govuk-link--no-visited-state"
              [routerLink]="[]"
              (click)="navigateToChangeForm()"
              (keypress)="navigateToChangeForm()"
            >
              Change<span class="govuk-visually-hidden">
                account holder deletion</span
              >
            </a>
          }
        </div>
      </div>
    </dl>

    <dl
      class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-9"
    >
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do you want to delete the account holder you changed from?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ deleteAccountHolder() ? 'Yes' : 'No' }}
        </dd>
      </div>
    </dl>
  </div>
</div>
