<table
  class="govuk-table annual-allocation-table"
  aria-describedby="allocation summary table"
>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Year</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">
        Entitlement
      </th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">
        Allocated
      </th>
      <th
        scope="col"
        class="govuk-table__header govuk-table__header--numeric cell-border-left"
      >
        Remaining to be allocated
      </th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">
        To be returned
      </th>
      <th scope="col" class="govuk-table__header cell-border-left">
        Withhold status
      </th>
      <th scope="col" class="govuk-table__header">Exclusion status</th>
      <th
        scope="col"
        class="govuk-table__header"
        aria-label="return allowances button"
        tabindex="-1"
      ></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <ng-container
      *ngFor="
        let groupedAllocation of groupedAllocationOverview.groupedAllocations;
        let i = index
      "
    >
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <details
            [attr.closed]="detailsOpen[i]"
            class="govuk-details govuk-!-margin-top-1 govuk-!-margin-bottom-1"
            data-module="govuk-details"
          >
            <summary (click)="toggleDetails(i)" class="govuk-details__summary">
              <span class="govuk-details__summary-text align-span-to-center">
                <strong>{{
                  groupedAllocation.summedAnnualAllocationStandardAndNer.year
                }}</strong>
              </span>
            </summary>
          </details>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          {{
            groupedAllocation.summedAnnualAllocationStandardAndNer.entitlement
          }}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          {{ groupedAllocation.summedAnnualAllocationStandardAndNer.allocated }}
        </td>
        <td
          class="govuk-table__cell govuk-table__cell--numeric cell-border-left"
        >
          <div
            class="remaining-col"
            [ngClass]="{
              'remaining-allocation under-allocated':
                groupedAllocation.summedAnnualAllocationStandardAndNer
                  .remaining > 0,
            }"
          >
            {{
              groupedAllocation.summedAnnualAllocationStandardAndNer.remaining >
              0
                ? groupedAllocation.summedAnnualAllocationStandardAndNer
                    .remaining
                : 0
            }}
          </div>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <div
            class="remaining-col"
            [ngClass]="{
              'remaining-allocation over-allocated':
                groupedAllocation.summedAnnualAllocationStandardAndNer
                  .remaining < 0,
            }"
          >
            {{
              groupedAllocation.summedAnnualAllocationStandardAndNer.remaining <
              0
                ? -groupedAllocation.summedAnnualAllocationStandardAndNer
                    .remaining
                : 0
            }}
          </div>
        </td>
        <td class="govuk-table__cell cell-border-left">
          {{
            groupedAllocation.summedAnnualAllocationStandardAndNer.status !==
            allocationStatusAllowed
              ? allocationStatusLabels[
                  groupedAllocation.summedAnnualAllocationStandardAndNer.status
                ]?.label
              : ''
          }}
        </td>
        <td class="govuk-table__cell">
          <ng-container
            *ngIf="
              groupedAllocation.summedAnnualAllocationStandardAndNer.excluded
            "
          >
            <app-govuk-tag [color]="'blue'"> EXCLUDED </app-govuk-tag>
          </ng-container>
        </td>
        <td class="govuk-table__cell">
          <button
            *ngIf="
              canRequestTransaction &&
              groupedAllocation.summedAnnualAllocationStandardAndNer
                .eligibleForReturn
            "
            class="govuk-button govuk-button--secondary"
            data-module="govuk-button"
            (click)="
              goToReturnExcessTransaction(
                groupedAllocation.standardAnnualAllocation,
                groupedAllocation.nerAnnualAllocation
              )
            "
          >
            Return allowances
          </button>
        </td>
      </tr>

      <tr
        *ngIf="detailsOpen[i]"
        class="govuk-table__row ukets-background-light-grey"
      >
        <td class="govuk-table__cell no-border-bottom center-align-text">
          <strong> NAT </strong>
        </td>
        <td
          class="govuk-table__cell no-border-bottom govuk-table__cell--numeric"
        >
          {{ groupedAllocation.standardAnnualAllocation.entitlement }}
        </td>
        <td
          class="govuk-table__cell no-border-bottom govuk-table__cell--numeric"
        >
          {{ groupedAllocation.standardAnnualAllocation.allocated }}
        </td>
        <td
          class="govuk-table__cell govuk-table__cell--numeric no-border-bottom cell-border-left"
        >
          <div
            class="remaining-col"
            [ngClass]="{
              'remaining-allocation under-allocated':
                groupedAllocation.standardAnnualAllocation.remaining > 0,
            }"
          >
            {{
              groupedAllocation.standardAnnualAllocation.remaining > 0
                ? groupedAllocation.standardAnnualAllocation.remaining
                : 0
            }}
          </div>
        </td>
        <td
          class="govuk-table__cell no-border-bottom govuk-table__cell--numeric"
        >
          <div class="remaining-col">
            {{
              groupedAllocation.standardAnnualAllocation.remaining < 0
                ? -groupedAllocation.standardAnnualAllocation.remaining
                : 0
            }}
          </div>
        </td>
        <td class="govuk-table__cell no-border-bottom cell-border-left"></td>
        <td class="govuk-table__cell no-border-bottom"></td>
        <td class="govuk-table__cell no-border-bottom"></td>
      </tr>

      <tr
        *ngIf="detailsOpen[i]"
        class="govuk-table__row ukets-background-light-grey"
      >
        <td class="govuk-table__cell center-align-text">
          <strong> NER </strong>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          {{ groupedAllocation.nerAnnualAllocation.entitlement }}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          {{ groupedAllocation.nerAnnualAllocation.allocated }}
        </td>
        <td
          class="govuk-table__cell govuk-table__cell--numeric cell-border-left"
        >
          <div
            class="remaining-col"
            [ngClass]="{
              'remaining-allocation under-allocated':
                groupedAllocation.nerAnnualAllocation.remaining > 0,
            }"
          >
            {{
              groupedAllocation.nerAnnualAllocation.remaining > 0
                ? groupedAllocation.nerAnnualAllocation.remaining
                : 0
            }}
          </div>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <div class="remaining-col">
            {{
              groupedAllocation.nerAnnualAllocation.remaining < 0
                ? -groupedAllocation.nerAnnualAllocation.remaining
                : 0
            }}
          </div>
        </td>
        <td class="govuk-table__cell cell-border-left"></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
      </tr>
    </ng-container>

    <tr class="govuk-table__row total-allocation">
      <td class="govuk-table__cell">
        <strong>Total in phase</strong>
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        {{
          isNaNOrZeroReturnEmpty(groupedAllocationOverview.totals.entitlement)
        }}
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        {{ isNaNOrZeroReturnEmpty(groupedAllocationOverview.totals.allocated) }}
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric cell-border-left">
        {{
          getRemainingToBeAllocated(
            groupedAllocationOverview.groupedAllocations
          )
        }}
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        {{
          getRemainingToBeReturned(groupedAllocationOverview.groupedAllocations)
        }}
      </td>
      <td class="govuk-table__cell cell-border-left"></td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell"></td>
    </tr>
  </tbody>
</table>
