<dl class="govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">ITL notification ID</dt>
    <dd class="govuk-summary-list__value">
      {{ itlNotification.notificationIdentifier }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">ITL notification quantity</dt>
    <dd class="govuk-summary-list__value">
      {{ itlNotification.quantity }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">ITL notification CP</dt>
    <dd class="govuk-summary-list__value">
      {{ itlNotification.commitPeriod }}
    </dd>
  </div>
</dl>
