@import 'node_modules/govuk-frontend/dist/govuk/settings/index';
@import 'node_modules/govuk-frontend/dist/govuk/tools/index';
@import 'node_modules/govuk-frontend/dist/govuk/helpers/index';

$yellow-tint-25: govuk-tint(govuk-colour('yellow'), 25);
$yellow-tint-50: govuk-tint(govuk-colour('yellow'), 50);
$red-tint-50: govuk-tint(govuk-colour('red'), 50);
$red-tint-25: govuk-tint(govuk-colour('red'), 25);
$green-tint-50: govuk-tint(govuk-colour('green'), 50);
$green-tint-25: govuk-tint(govuk-colour('green'), 25);

$yellow-highlight-bg-colour: govuk-tint(govuk-colour('yellow'), 75);
$yellow-highlight-border-colour: rgba(govuk-colour('yellow'), 0.5);
