<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form (ngSubmit)="onContinue()" [formGroup]="formGroup">
      <div class="govuk-form-group">
        <div class="govuk-fieldset">
          <div class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-xl">{{ headerTitle }}</span>
              {{ title }}
            </h1>
          </div>
        </div>
      </div>
      <div id="waste-hint" class="govuk-hint">Select all that apply</div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <ng-container
          *ngFor="let activityGroup of activityTypes; let i = index"
        >
          <label
            class="govuk-body-m govuk-!-font-weight-bold activity-type-line"
          >
            {{ activityGroup.header }}
          </label>
          <ng-container
            *ngFor="
              let activity of activityGroup.options;
              let activityIndx = index
            "
          >
            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                formControlName="{{ activity.value }}"
                id="{{ activity.value }}"
                name="{{ activity.value }}"
                type="checkbox"
              />
              <label
                class="govuk-label govuk-checkboxes__label"
                for="nationality"
              >
                {{ activity.label }}
              </label>
              <div
                id="nationality-item-hint"
                class="govuk-hint govuk-checkboxes__hint"
              >
                {{ activity.hint }}
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <button
        class="govuk-button"
        data-module="govuk-button"
        type="submit"
        id="continue"
      >
        Continue
      </button>
    </form>
  </div>
</div>
