<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        You have successfully requested a new activation code
      </h1>
      <div class="govuk-panel__body">
        Request ID <br /><span class="govuk-!-font-weight-bold">{{
          submittedIdentifier
        }}</span>
      </div>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-m">What happens next</h1>
    <p class="govuk-body">
      The registry administrator will review your request and notify you by
      email if your request is approved. You 'll receive your registry
      activation code in a separate email within 10 days.
    </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <a
        routerLink="/dashboard"
        class="govuk-link govuk-link--no-visited-state"
        id="back"
        >Back to home</a
      >
    </p>
  </div>
</div>
