<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Check the file and submit</h1>
  </div>
  <div class="govuk-grid-column-full">
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list govuk-body-m">
          {{ fileHeader.fileName }}
        </dt>
        <dd class="govuk-summary-list govuk-body-m"></dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            [routerLink]="[]"
            (click)="navigateBack('bulk-ar')"
            id="back"
          >
            Change
          </a>
        </dd>
      </div>
    </dl>
    <button
      class="govuk-button"
      data-module="govuk-button"
      appDebounceClick
      (debounceClick)="onContinue()"
      id="submit"
    >
      Submit
    </button>
  </div>
</div>
