<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-form-group">
      <div appScreenReaderPageAnnounce [pageTitle]="getTitle()"></div>
      <div class="govuk-fieldset">
        <div class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-xl">
              {{ getCaption() }}
            </span>
            {{ getTitle() }}
          </h1>
        </div>
      </div>
      <p class="govuk-body">We'll use this information to contact them</p>
    </div>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <form (ngSubmit)="onContinue()" [formGroup]="formGroup">
      <app-form-control-text
        [label]="'What is their position in the company?'"
        [maxlength]="256"
        [validationErrorMessage]="validationErrorMessage.positionInCompany"
        controlName="positionInCompany"
        [autocomplete]="'organization-title'"
      />
      <fieldset class="govuk-fieldset" role="group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <span class="govuk-fieldset__heading">Work contact address</span>
        </legend>

        <div class="govuk-form-group" id="work-address-form-checkbox">
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input
                (change)="onAddressCheckChange($event)"
                class="govuk-checkboxes__input"
                formControlName="sameWorkAddress"
                id="work-address-checkbox"
                name="work-address-checkbox"
                type="checkbox"
                value="carcasses"
              />
              <label
                class="govuk-label govuk-checkboxes__label"
                for="work-address-checkbox"
              >
                {{ this.getContactLabel() | titlecase }} work address is the
                same as the Account Holder address
              </label>
            </div>
          </div>
        </div>
        <app-form-control-text
          [readonly]="!!sameAddress"
          [label]="'Address line 1'"
          [maxlength]="256"
          [validationErrorMessage]="validationErrorMessage.buildingAndStreet"
          controlName="address.buildingAndStreet"
          [autocomplete]="'address-line1'"
        />
        <app-form-control-text
          [readonly]="!!sameAddress"
          [label]="'Address line 2 (optional)'"
          [maxlength]="256"
          controlName="address.buildingAndStreet2"
          [autocomplete]="'address-line2'"
        />
        <app-form-control-text
          [readonly]="!!sameAddress"
          [label]="'Address line 3 (optional)'"
          [maxlength]="256"
          controlName="address.buildingAndStreet3"
          [autocomplete]="'address-line3'"
        />
        <app-form-control-text
          [readonly]="!!sameAddress"
          [label]="'Town or city'"
          [validationErrorMessage]="validationErrorMessage.townOrCity"
          [maxlength]="256"
          controlName="address.townOrCity"
          [autocomplete]="'address-level2'"
        />
        <app-form-control-text
          [readonly]="!!sameAddress"
          [label]="'State or Province (optional)'"
          [maxlength]="256"
          controlName="address.stateOrProvince"
          [autocomplete]="'state-or-province'"
        />
        <app-form-control-select
          [readonly]="!!sameAddress"
          controlName="address.country"
          [options]="_countryOptions"
          [label]="'Country'"
        />
        <app-form-control-text
          [readonly]="!!sameAddress"
          [label]="'Postal Code or ZIP (optional, if outside UK)'"
          [class]="'govuk-input--width-10'"
          [maxlength]="256"
          [validationErrorMessage]="validationErrorMessage.postCode"
          controlName="address.postCode"
          [autocomplete]="'postal-code'"
        />
      </fieldset>
      <fieldset
        aria-describedby="wrong-number-error"
        class="govuk-fieldset"
        role="group"
      >
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <span class="govuk-fieldset__heading">Phone number</span>
        </legend>
        <app-uk-phone-select
          [phoneInfo]="_phoneInfo1"
          [showErrors]="showErrors"
          [countryCodes]="countryCodes"
          [phoneNumberLabel]="'Phone number 1'"
          [validationErrorMessages]="validationMessages.phone1"
          formControlName="phone1"
        />
        <app-uk-phone-select
          [phoneInfo]="_phoneInfo2"
          [phoneNumberLabel]="'Phone number 2 (Optional)'"
          [showErrors]="showErrors"
          [countryCodes]="countryCodes"
          formControlName="phone2"
        />
      </fieldset>

      <fieldset
        aria-describedby="wrong-number-error"
        class="govuk-fieldset"
        role="group"
      >
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <span class="govuk-fieldset__heading">Work email address</span>
        </legend>
        <app-form-control-email
          [label]="'Email address'"
          [maxlength]="256"
          [validationErrorMessage]="validationErrorMessage.emailAddress"
          controlName="emailAddress.emailAddress"
          [disableCopy]="true"
        />
        <app-form-control-email
          [label]="'Confirm their email address'"
          [maxlength]="256"
          [validationErrorMessage]="
            validationErrorMessage.emailAddressConfirmation
          "
          controlName="emailAddress.emailAddressConfirmation"
          [disableCopy]="true"
        />
      </fieldset>
      <button
        class="govuk-button"
        data-module="govuk-button"
        type="submit"
        id="continue"
      >
        Continue
      </button>
    </form>
  </div>
</div>
