<div class="app-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m govuk-!-margin-bottom-7 guidance-title">
        UK Emissions Trading Registry guidance
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">About the UK Emissions Trading Registry</h2>
      <div class="govuk-caption-l">
        <p class="govuk-body">
          The UK Emissions Trading Registry (UK Registry) comprises:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the UK Emissions Trading Scheme Registry (UK ETS Registry)</li>
          <li>the UK Kyoto Protocol Registry (UK KP Registry)</li>
        </ul>
      </div>

      <app-guidance-modification-date></app-guidance-modification-date>

      <h3 class="govuk-heading-s">About the Registries</h3>

      <p class="govuk-body">
        The UK ETS Registry can only hold allowances. Account numbers in this
        registry start with UK.
      </p>

      <p class="govuk-body">
        The UK KP Registry can only hold Kyoto units – you cannot use these for
        UK ETS compliance. Account numbers in this registry start with GB.
      </p>

      <p class="govuk-body">
        There is no link between the UK ETS Registry and the UK KP Registry.
      </p>
    </div>
  </div>
</div>

<app-back-to-top></app-back-to-top>
