<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl">{{ getTitleText() }}</span>
    <h1 class="govuk-heading-xl">
      Explain why you are assigning this task to the user
    </h1>
    <form [formGroup]="formGroup" (submit)="onSubmit()">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
          <dt class="govuk-summary-list__key">Recipient</dt>
          <dd class="govuk-summary-list__value">
            {{ recipientName }}
          </dd>
        </div>
      </dl>
      <app-form-comment-area
        [label]="''"
        [maxlength]="1024"
        [validationErrorMessage]="validationErrorMessage.comment"
        controlName="comment"
      ></app-form-comment-area>
      <button
        class="govuk-button"
        data-module="govuk-button"
        type="submit"
        id="continue"
      >
        Continue
      </button>
    </form>
  </div>
</div>
