@import 'node_modules/govuk-frontend/dist/govuk/settings/index';
@import 'node_modules/govuk-frontend/dist/govuk/tools/index';
@import 'node_modules/govuk-frontend/dist/govuk/helpers/index';

.sign-request {
  background-color: govuk-colour('light-grey');
}
