@import '_variables';

.remaining-allocation {
  border-left-style: solid;
  border-width: 5px;
  display: block;
  padding: 7px;
  background-color: $yellow-highlight-bg-colour;
  border-color: $yellow-highlight-border-colour;
  text-align: left;
}
td.annual-allocation {
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: inherit;
}
button.annual-allocation {
  float: right;
  margin-bottom: 0;
}
.over-allocated {
}

.under-allocated {
  background-color: $green-tint-50;
  border-color: $green-tint-25;
}

.cell-border-left {
  border-left: 1px solid $govuk-border-colour;
  padding-left: 8px;
}

.panel-display-quantity-background {
  background-color: $yellow-tint-50;
  border-color: $yellow-tint-25;
}
.panel-display-quantity-padding {
  padding: 0.1em 80% 0.1em 0.1em;
}

td.no-border {
  border: none;
}
