@if (isSeniorOrJuniorAdmin()) {
  <!-- TODO -->
  <!-- <p class="govuk-body">
    Latest contacts list received on 15 Jan 2025, 10:20pm
  </p> -->

  <app-account-contacts-tables
    [metsContacts]="metsContacts()"
    [registryContacts]="registryContacts()"
  />

  @if (metsContacts().length && account()?.accountClaimCode) {
    <div class="govuk-button-group">
      <button
        (click)="onSendInvitation()"
        class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-0"
        data-module="govuk-button"
      >
        Send invitation
      </button>
      <span class="govuk-body"
        >(Claim account code: {{ account().accountClaimCode }})</span
      >
    </div>
  }
}
