<h2 class="govuk-heading-l">{{ getNameDetails() }}</h2>

<h3 class="govuk-heading-m">{{ getTypeText(true) }} details</h3>
<dl
  class="govuk-summary-list govuk-summary-list--no-border"
  *ngIf="accountHolderContact.details as details"
>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">First and middle names</dt>
    <dd class="govuk-summary-list__value">
      {{ details.firstName }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Last name</dt>
    <dd class="govuk-summary-list__value">
      {{ details.lastName }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      I confirm that the {{ getTypeText(false) }} is aged 18 or over
    </dt>
    <dd class="govuk-summary-list__value">Yes</dd>
  </div>
</dl>

<h3 class="govuk-heading-m">{{ getTypeText(true) }} work details</h3>
<dl
  class="govuk-summary-list govuk-summary-list--no-border"
  *ngIf="accountHolderContact"
>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Company position</dt>
    <dd class="govuk-summary-list__value">
      {{ accountHolderContact.positionInCompany }}
    </dd>
  </div>
  <ng-container *ngIf="accountHolderContact.address as address">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Work address</dt>
      <dd class="govuk-summary-list__value">
        <app-shared-three-line-address
          [line1]="address.buildingAndStreet"
          [line2]="address.buildingAndStreet2"
          [line3]="address.buildingAndStreet3"
        ></app-shared-three-line-address>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Town or city</dt>
      <dd class="govuk-summary-list__value">
        {{ address.townOrCity }}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">State or Province</dt>
      <dd class="govuk-summary-list__value">
        {{ address.stateOrProvince }}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Postal Code or ZIP</dt>
      <dd class="govuk-summary-list__value">
        {{ address.postCode }}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Country</dt>
      <dd class="govuk-summary-list__value">
        {{
          sharedUtil.getCountryNameFromCountryCode(countries, address.country)
        }}
      </dd>
    </div>
    <ng-container *ngIf="accountHolderContact.phoneNumber as phoneNumber">
      <div class="govuk-summary-list__row" *ngIf="phoneNumber.phoneNumber1">
        <dt class="govuk-summary-list__key">Work phone number 1</dt>
        <dd class="govuk-summary-list__value">
          <app-shared-phone-number
            [countryCode]="phoneNumber.countryCode1"
            [phoneNumber]="phoneNumber.phoneNumber1"
          >
          </app-shared-phone-number>
        </dd>
      </div>
      <div class="govuk-summary-list__row" *ngIf="phoneNumber.phoneNumber2">
        <dt class="govuk-summary-list__key">Work phone number 2</dt>
        <dd class="govuk-summary-list__value">
          <app-shared-phone-number
            [countryCode]="phoneNumber.countryCode2"
            [phoneNumber]="phoneNumber.phoneNumber2"
          >
          </app-shared-phone-number>
        </dd>
      </div>
    </ng-container>
    <ng-container *ngIf="accountHolderContact.emailAddress as emailAddress">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Email address</dt>
        <dd class="govuk-summary-list__value">
          {{ emailAddress.emailAddress }}
        </dd>
      </div>
    </ng-container>
  </ng-container>
</dl>
