<ng-container [formGroup]="passwordModel">
  <div
    [class.govuk-form-group]="true"
    [class.govuk-form-group--error]="showError()"
  >
    <label class="govuk-label" for="password" [attr.id]="labelId">
      {{ passwordLabel }}:
    </label>

    <ng-container *ngIf="showError()">
      <p
        *ngIf="showError()"
        id="event-name-error"
        class="govuk-error-message"
        role="alert"
        [attr.aria-describedby]="labelId"
      >
        <span class="govuk-visually-hidden">Error:</span>
        {{ validationErrorMessage }}
      </p>
    </ng-container>

    <input
      appPasswordReveal
      id="password"
      class="govuk-input govuk-!-width-three-quarters"
      [class.govuk-input--error]="showPasswordError()"
      type="password"
      formControlName="password"
      autocomplete="new-password"
      (keyup)="announcePasswordStrength()"
      [attr.aria-invalid]="showPasswordError()"
    />

    <password-strength-meter
      id="strengthMeter"
      (strengthChange)="onStrengthChange($event)"
      [password]="passwordModel.controls.password.value"
      [colors]="['#942514', '#942514', '#594d00', '#00703c', '#00703c']"
    ></password-strength-meter>

    <div
      id="strength-hint"
      class="govuk-hint"
      *ngIf="strength != undefined && password?.value?.length > 2"
    >
      Password strength
      <ng-container [ngSwitch]="strength >= 0">
        <app-govuk-tag *ngSwitchCase="strength >= 3" color="green"
          >Strong</app-govuk-tag
        >
        <app-govuk-tag *ngSwitchCase="strength === 2" color="yellow"
          >Medium</app-govuk-tag
        >
        <app-govuk-tag *ngSwitchDefault color="red">Weak</app-govuk-tag>
      </ng-container>
    </div>

    <label class="govuk-label" for="pconfirm" id="pconfirmLabel">
      {{ confirmPasswordLabel }}:
    </label>
    <input
      appPasswordReveal
      id="pconfirm"
      class="govuk-input govuk-!-width-three-quarters"
      [class.govuk-input--error]="showPconfirmError()"
      type="password"
      formControlName="pconfirm"
      autocomplete="new-password"
      [attr.aria-invalid]="showPconfirmError()"
    />
  </div>
</ng-container>
