<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:ApplicationLogJsonLayout.json"
                                locationInfoEnabled="true"
                                stackTraceEnabled="true"
                                maxStringLength="32768"/>

        </Console>
        <Console name="UI_LOGS" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false"
                           pattern="%m%n"/>
        </Console>

    </Appenders>
    <Loggers>
        <Logger name="gov.uk.ets.ui.logs.web.LogsController" level="info" additivity="false">
            <AppenderRef ref="UI_LOGS" />
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>
