<dl
  class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0"
>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <span class="govuk-heading-m">Account</span>
    </dt>
  </div>
</dl>
<dl
  class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-9"
>
  <app-notes-list
    [notes]="accountNotes"
    [isSeniorAdmin]="isSeniorAdmin"
    (deleteNote)="deleteNote($event)"
  ></app-notes-list>
</dl>

<dl
  class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0"
>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <span class="govuk-heading-m">Account Holder</span>
    </dt>
  </div>
</dl>
<dl
  class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-9"
>
  <app-notes-list
    [notes]="accountHolderNotes"
    [isSeniorAdmin]="isSeniorAdmin"
    (deleteNote)="deleteNote($event)"
  ></app-notes-list>
</dl>

<div class="govuk-button-group">
  <button
    (click)="addNote()"
    *ngIf="isSeniorOrJuniorAdmin"
    class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-0"
    data-module="govuk-button"
  >
    Add Note
  </button>
</div>
