<ng-container *ngIf="!notes || notes?.length === 0">
  <div class="govuk-hint">No items added.</div>
</ng-container>
<ng-container *ngIf="notes?.length > 0">
  <table class="govuk-table" aria-describedby="Domain events table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header date">Date</th>
        <th scope="col" class="govuk-table__header who">Who</th>
        <th scope="col" class="govuk-table__header">Notes</th>
        <th scope="col" class="govuk-table__header" *ngIf="isSeniorAdmin">
          Action
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr *ngFor="let note of notes" class="govuk-table__row">
        <td class="govuk-table__cell date">
          {{ note.creationDate | gdsDateTimeShort }}
        </td>
        <td class="govuk-table__cell break-word">
          <a
            class="govuk-link govuk-link--no-visited-state"
            [routerLink]="['/user-details/' + note.userIdentifier]"
            >{{ note.userName }}</a
          >
        </td>
        <td class="govuk-table__cell break-word">
          <app-read-more>{{ note.description }}</app-read-more>
        </td>
        <td class="govuk-table__cell" *ngIf="isSeniorAdmin">
          <a
            class="govuk-link govuk-link--no-visited-state"
            [routerLink]="[]"
            (click)="deleteNoteClick(note.id)"
            >Delete</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
