<div class="app-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m govuk-!-margin-bottom-7 guidance-title">
        UK Emissions Trading Registry guidance
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Request to open a voluntary account</h2>
      <span class="govuk-caption-l"
        >The UK Registry only allows for applications to open voluntary UK ETS
        Trading Accounts, or UK KP Registry Person Holding Accounts. Compliance
        accounts will be opened by the Registry Administrator for participants
        in the UK ETS on instruction from the respective regulator.
      </span>
      <span class="govuk-caption-l">
        The process to apply to open a UK ETS Trading Account, or UK KP Person
        Holding Account is identical. The example given is for an application to
        open a UK ETS Trading Account.
      </span>

      <app-guidance-modification-date></app-guidance-modification-date>

      <p class="govuk-body">Contents</p>

      <ul class="govuk-list">
        <li>
          -
          <a class="govuk-link" [routerLink]="[]" fragment="subsection1"
            >Opening a voluntary account</a
          >
        </li>
        <li>
          -
          <a class="govuk-link" [routerLink]="[]" fragment="subsection2"
            >Opening a voluntary account - step by step guidance</a
          >
        </li>
        <li>
          -
          <a class="govuk-link" [routerLink]="[]" fragment="subsection3"
            >Choosing the transaction rules</a
          >
        </li>
        <li>
          -
          <a class="govuk-link" [routerLink]="[]" fragment="subsection4"
            >Trusted Account List (TAL)</a
          >
        </li>
      </ul>

      <h2 class="govuk-heading-s" id="subsection1">
        Opening a voluntary account
      </h2>
      <p class="govuk-body">
        Voluntary account holders (ETS Traders and KP users):
      </p>

      <ol class="govuk-list govuk-list--number">
        <li>Create a UK Registry sign in to obtain a User ID</li>
        <li>Apply to open an account (Trading or Person Holding Account)</li>
        <li>
          The Registry Administrator or National Administrator will request
          documents via the UK Registry - you will receive an email
        </li>
        <li>You upload documents as requested</li>
        <li>
          The Registry Administrator or National Administrator will review the
          documentation, and if fit and proper you will become ‘Validated’
        </li>
        <li>You will be sent a Registry Activation Code (RAC) by email</li>
        <li>
          Log in to the UK Registry and enter the RAC to become ‘Enrolled’
        </li>
      </ol>

      <h3 class="govuk-heading-s" id="subsection2">
        Opening a voluntary account - step by step guidance
      </h3>

      <p class="govuk-body">Select Accounts at the top of the page</p>
      <img
        class="guidance-img"
        src="/assets/images/guidance/request-account.png"
        alt="Request an account"
      />

      <p class="govuk-body">You must complete the sections in order.</p>
      <p class="govuk-body">
        The request must be completed in one session, you cannot save and return
        to this screen
      </p>
      <img
        class="guidance-img"
        src="/assets/images/guidance/account-sections.png"
        alt="Account sections"
      />

      <p class="govuk-body">Choose the account holder type</p>
      <img
        class="guidance-img"
        src="/assets/images/guidance/account-holder.png"
        alt="Account Holder"
      />

      <p class="govuk-body">
        If the Account Holder is a corporate entity, such as an organisation,
        you’ll need to enter the:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>legal entity name</li>
        <li>registered address</li>
        <li>company registration number</li>
      </ul>

      <img
        class="guidance-img"
        src="/assets/images/guidance/org-details.png"
        alt="Organisation details"
      />

      <p class="govuk-body">
        If the Account Holder is an individual, you’ll need to enter their:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>full name</li>
        <li>country of birth</li>
        <li>date of birth</li>
        <li>home address</li>
        <li>phone number</li>
        <li>email address</li>
      </ul>

      <p class="govuk-body">
        The Account Holder must be at least 18 years old.
      </p>

      <h2 class="govuk-heading-s" id="subsection3">
        Choosing the transaction rules
      </h2>
      <p class="govuk-body">The default transaction rules are:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          transfers of allowance or Kyoto units to trusted accounts must be
          approved by a second Authorised Representative
        </li>
        <li>
          transfers of allowances or Kyoto units can only be made to accounts
          that are on the Trusted Account List (TAL)
        </li>
      </ul>

      <p class="govuk-body">
        The UK ETS Registry only holds allowances, and the UK KP Registry only
        holds Kyoto units.
      </p>
      <img
        class="guidance-img"
        src="/assets/images/guidance/rule1.png"
        alt="Rule"
      />
      <img
        class="guidance-img"
        src="/assets/images/guidance/rule2.png"
        alt="Rule"
      />

      <p class="govuk-body">
        When you request to open a Trading Account or Person Holding Account you
        can change these default transaction rules so that:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          transfers do not have to be approved if they are being made to a
          trusted account
        </li>
        <li>
          allowances or Kyoto units can be transferred to accounts that are not
          on the Trusted Account List
        </li>
      </ul>

      <p class="govuk-body">
        When you request to open a Trading Account or Person Holding Account you
        can change these default transaction rules so that:
      </p>

      <h2 class="govuk-heading-s" id="subsection4">
        Trusted Account List (TAL)
      </h2>
      <p class="govuk-body">
        Accounts in the name of the same Account Holder are automatically added
        to each other’s trusted account list.
      </p>
      <p class="govuk-body">
        Once your account has been opened, you can add accounts in the name of
        other Account Holders to your trusted account list.
      </p>
    </div>
  </div>
</div>

<app-back-to-top></app-back-to-top>
