<div appScreenReaderPageAnnounce [pageTitle]="'Select type of update'"></div>
<div class="govuk-grid-row" *ngIf="formRadioGroupInfo.options">
  <div class="govuk-grid-column-two-thirds">
    <form (ngSubmit)="onContinue()" [formGroup]="formGroup">
      <app-uk-radio-input
        controlName="userDetailsType"
        [formRadioGroupInfo]="formRadioGroupInfo"
        [validationErrorMessage]="
          this.validationErrorMessage.userDetailsType
        "
      >
      </app-uk-radio-input>
      <button
        class="govuk-button"
        data-module="govuk-button"
        type="submit"
        id="continue"
      >
        Continue
      </button>
    </form>
    <app-cancel-request-link
      (goToCancelScreen)="onCancel()"
    ></app-cancel-request-link>
  </div>
</div>
