<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">The deadline has<br />been updated</h1>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          <a
            [routerLink]="[]"
            (click)="onBackToTask()"
            class="govuk-link govuk-link--no-visited-state"
            >Go back to task</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
