<div class="app-width-container">
  <h1 class="govuk-heading-xl">Sitemap</h1>

  <ng-container *ngFor="let item of navMenu?.menuItems">
    <h2 class="govuk-heading-l">
      <a
        class="govuk-link"
        (click)="onClick(item)"
        (keypress)="onClick(item)"
        [routerLink]="[]"
        >{{ item.label }}</a
      >
    </h2>

    <ul class="govuk-list" *ngIf="item.subMenus?.length > 0">
      <li
        class="govuk-!-margin-bottom-2"
        *ngFor="let subMenuItem of item.subMenus"
      >
        <a class="govuk-link" [routerLink]="subMenuItem.routerLink">{{
          subMenuItem.label
        }}</a>
      </li>
    </ul>
  </ng-container>

  <h2 class="govuk-heading-l">
    <a class="govuk-link" [routerLink]="['/user-details', 'my-profile']"
      >My Profile</a
    >
  </h2>
</div>

<app-back-to-top></app-back-to-top>
