<div class="hmcts-identity-bar" *ngIf="transactionDetails">
  <div class="hmcts-identity-bar__container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full" aria-live="polite">
        <app-report-success-banner
          [isVisible]="isReportSuccess"
        ></app-report-success-banner>
      </div>
    </div>

    <div *ngIf="!hideBackButton" class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <a
          class="govuk-back-link"
          [routerLink]="[]"
          (click)="goBackToList($event)"
          id="back"
          >Back to list</a
        >
      </div>
    </div>
    <div
      class="govuk-grid-row"
      [style.margin-top]="!hideBackButton ? '0px' : '50px'"
      *ngIf="transactionDetails"
    >
      <div [class.govuk-grid-column-two-thirds]="true">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
          Transaction ID: {{ transactionDetails.identifier }}
        </h1>
      </div>
      <div [class.govuk-grid-column-one-third]="true">
        <div style="float: right">
          <button
            *ngIf="
              !hideDetailsReportButton &&
              transactionDetails.status === 'COMPLETED'
            "
            style="margin-bottom: 0"
            class="govuk-button govuk-button--secondary govuk-!-font-weight-bold"
            (click)="
              generateTransactionDetailsReport(transactionDetails.identifier)
            "
          >
            Export as PDF
          </button>
          <button
            *ngIf="transactionDetails.status === 'DELAYED' && !hideCancelButton"
            style="margin-bottom: 0"
            class="govuk-button govuk-button--secondary govuk-!-margin-left-3 govuk-!-font-weight-bold"
            (click)="cancelTransaction.emit(transactionDetails.identifier)"
          >
            Cancel transaction
          </button>
          <button
            *ngIf="transactionDetails.canBeReversed"
            style="margin-bottom: 0"
            class="govuk-button govuk-button--secondary govuk-!-margin-left-3 govuk-!-font-weight-bold"
            (click)="reverseTransaction()"
          >
            Reverse transaction
          </button>
        </div>
      </div>
    </div>
    <div class="govuk-grid-row">
      <app-govuk-tag
        class="govuk-!-display-inline-block"
        style="margin-left: 15px"
        [color]="transactionStatusMap[transactionDetails.status].color"
      >
        {{ transactionStatusMap[transactionDetails.status].label }}
      </app-govuk-tag>
      <div class="govuk-grid-column-full" *ngIf="transactionDetails">
        <div class="govuk-body">
          <span *ngIf="transactionDetails.status === 'DELAYED'">
            Estimated Completion Date
            {{ transactionDetails.executionDateTime | gdsDateTime }} ({{
              transactionDetails.executionDateTime | gdsTimeUTC
            }})
          </span>
          <span *ngIf="transactionDetails.status !== 'DELAYED'">
            Last updated: {{ transactionDetails.lastUpdated | gdsDateTime }} ({{
              transactionDetails.lastUpdated | gdsTimeUTC
            }})
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
