<div class="govuk-grid-row govuk-!-margin-bottom-7">
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">Request submitted</h1>
    <div class="govuk-panel__body">
      Request ID:<br /><strong>{{
        businessCheckResult?.requestIdentifier
      }}</strong>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <h1 class="govuk-heading-m">What happens next</h1>
  <p class="govuk-body">
    Your request will be reviewed by the Registry Administrator
  </p>
</div>
