<div class="app-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m govuk-!-margin-bottom-7 guidance-title">
        UK Emissions Trading Registry guidance
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Document upload requests</h2>
      <span class="govuk-caption-l">
        If the Registry Administrator or National Administrator needs to see any
        documents in relation to your application, you will receive an email
        with the title 'Notification of documentation request - UK Emissions
        Trading Registry'.
      </span>

      <app-guidance-modification-date></app-guidance-modification-date>

      <p class="govuk-body">Contents</p>

      <ul class="govuk-list">
        <li>
          -
          <a class="govuk-link" [routerLink]="[]" fragment="subsection1"
            >Uploading documents</a
          >
        </li>
        <li>
          -
          <a class="govuk-link" [routerLink]="[]" fragment="subsection2"
            >PDF templates</a
          >
        </li>
      </ul>

      <h3 class="govuk-heading-s" id="subsection1">Uploading documents</h3>

      <p class="govuk-body">To upload your documents:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>sign in to the UK Registry</li>
        <li>select Tasks from the header bar</li>
        <li>select the Request ID</li>
      </ul>
      <img
        class="guidance-img"
        src="/assets/images/guidance/task-details.png"
        alt="Task details"
      />

      <p class="govuk-body">
        You must upload the documents to the UK Registry using an existing PDF
        template, or as a PDF document if no template is available.
      </p>

      <h3 class="govuk-heading-s" id="subsection2">PDF templates</h3>

      <div class="govuk-body">
        Templates for the following documents are available on the UK Registry:
        <ol>
          <li>Letter of authority</li>
          <li>Primary Contact appointment and declaration</li>
          <li>Authorised Representative declaration</li>
        </ol>
      </div>
      <p class="govuk-body">
        The Registry Administrator or National Administrator will send you a
        request by email if any of the following documents are needed:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>List of directors</li>
        <li>Organisation chart</li>
        <li>Proof of company registration</li>
        <li>Proof of name</li>
        <li>Proof of permanent residential address</li>
        <li>Criminal record evidence</li>
        <li>Audited company accounts</li>
      </ul>

      <p class="govuk-body">
        When you have uploaded the requested documents, select Complete task at
        the top of the page.
      </p>

      <img
        class="guidance-img"
        src="/assets/images/guidance/submit-documents-task.png"
        alt="Submit documents"
      />
    </div>
  </div>
</div>

<app-back-to-top></app-back-to-top>
