<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" aria-live="polite">
    <app-report-success-banner
      [isVisible]="isReportSuccess$ | async"
    ></app-report-success-banner>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Users</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <app-show-hide-toggle-button
          [displayable]="true"
          [condition]="hideCriteria$ | async"
          [trueStateLabel]="'Show filters'"
          [falseStateLabel]="'Hide filters'"
          (toggle)="hideShowCriteria($event)"
        ></app-show-hide-toggle-button>
      </div>
    </div>
  </div>
</div>

<app-search-users-form
  *ngIf="sortParameters$ | async as sortParameters"
  [ngStyle]="{ display: (hideCriteria$ | async) ? 'none' : 'block' }"
  (search)="onSearchUsers($event, sortParameters)"
  (submitClick)="onSubmitClick()"
  (errorDetails)="onError($event)"
  [storedCriteria]="storedCriteria$ | async"
>
</app-search-users-form>

<app-search-users-results
  *ngIf="resultsLoaded$ | async"
  [results]="results$ | async"
  (sort)="onSort($event)"
  [sortParameters]="sortParameters$ | async"
>
</app-search-users-results>

<app-empty-search-results
  *ngIf="(resultsLoaded$ | async) && (results$ | async).length === 0"
>
</app-empty-search-results>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <app-paginator
      [pagination]="pagination$ | async"
      [pageSizeOptions]="pageSizeOptions"
      (selectFirstPage)="goToFirstPageOfResults($event)"
      (selectLastPage)="goToLastPageOfResults($event)"
      (selectNextPage)="goToNextPageOfResults($event)"
      (selectPreviousPage)="goToPreviousPageOfResults($event)"
      (changePageSize)="onChangePageSize($event)"
    >
    </app-paginator>
  </div>
</div>
