<div class="app-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m govuk-!-margin-bottom-7 guidance-title">
        UK Emissions Trading Registry guidance
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Registry help and support</h2>
      <span class="govuk-caption-l"
        >Help and support is available for the UK Registry.</span
      >

      <app-guidance-modification-date></app-guidance-modification-date>

      <p class="govuk-body">
        If you need further help accessing or using the UK Emissions Trading
        Registry, email the
        <a class="govuk-link" href="mailto:{{ etsRegistryHelpEmail$ | async }}"
          >UK Registry Helpdesk</a
        >. Include the subject 'UK Registry help request' in the email header,
        and your User ID and account details in the body of the email.
      </p>
      <p class="govuk-body">
        The UK Registry Helpdesk is available Monday to Friday, 8:30am to 4:30pm
        (except public holidays in England).
      </p>
    </div>
  </div>
</div>

<app-back-to-top></app-back-to-top>
