<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
      <app-uk-radio-input
        controlName="allocationYears"
        [formRadioGroupInfo]="formRadioGroupInfo"
      ></app-uk-radio-input>
      <app-uk-radio-input
        controlName="allocationCategory"
        [formRadioGroupInfo]="formRadioGroupInfoCategory"
      ></app-uk-radio-input>
      <button
        class="govuk-button"
        data-module="govuk-button"
        type="submit"
        id="continue"
      >
        Continue
      </button>
    </form>
  </div>
</div>
