<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        You have submitted a request (ID: {{ submittedRequestIdentifier }}) for
        {{ documentType }} documents.
      </h1>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-m">What happens next</h1>
    <p class="govuk-body">
      The recipient will receive a notification to submit the documents you
      requested.
    </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <a
        [routerLink]="[]"
        (click)="navigateTo()"
        class="govuk-link govuk-link--no-visited-state"
        id="back"
        >Go back to the {{ returnPage }}</a
      >
    </p>
  </div>
</div>
