<div class="govuk-grid-row govuk-!-margin-bottom-7">
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      Proposal submitted
    </h1>
    <div class="govuk-panel__body">
      Transaction ID:<br /><strong>{{
        businessCheckResult?.transactionIdentifier
      }}</strong>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <h1 class="govuk-heading-m">What happens next</h1>
  <p class="govuk-body">
    Your proposal will be reviewed by another authority user
  </p>
</div>
